@import "../global/variable";
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 380px;
  background-color: $hover-color;           
  overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 0px 8px 0px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  background-color: white;
  color: black;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: black;
  background-color: gainsboro;
}
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    // background-color:#c6b400;
    color: black;
    font-weight: bolder;
    background-color:#eeeeee;   
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    padding-left: 8px;
    a{
        font-size: 1.4rem;
        background-color:#eeeeee;   
    }
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  // @media screen and (max-height: 450px) {
  //   .sidenav {padding-top: 15px;}
  //   .sidenav a {font-size: 18px;}
  // }



  .formCourse {
    //background-color: rgb(160, 170, 197);
    // border: 0.2rem ridge #d8d7dc;
    width: 100%;
    // border-radius: 1rem;
    top: 0;
    left: 0;
    background-color: #fff;
    // padding: 2rem;
  }
  
  .formCourse_title {
    font-weight: bold;
      padding-top: 1rem;
    font-size: 1.8rem;
  
    &:hover {
      cursor:pointer;
      background-color: #d8d7dc;
      border-radius: 1rem;
    }
  
    p {
      i {
        font-size: 1.4rem;
        margin: 0 1rem;
      }
    }
  
    // border-bottom: 1px solid #000;
  }
  
  .fa-angle-down {
    padding: 0 1rem;
  }
  
  
  .chapter__add {
    font-size: 3rem;
    margin-left: 1rem;
    font-family: SuisseWorks, Georgia, Times, times new roman, serif,
      apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: bold;
  
    p {
      // margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 100;
      // justify-self: center;
      align-self: center;
      font-style: italic;
    }
  }
  
  .up-icon {
    transform: rotate(-180deg);
    transition: transform 150ms linear;
  }
  
  .down-icon {
    transform: rotate(0deg);
    transition: transform 150ms linear;
  }
  
  .delete {
    color: red;
  }
  
  .edit {
    color: #6bb41b;
  }
  
  .chapter__title {
    padding-top: 1rem;
    font-weight:700;
    margin-left: 0.7rem;
  }
  
  .chapter__title:hover {
    cursor: pointer;
    background-color: #ccc;
  }
  
  .chapter__content {
    // padding-left: 1rem;
    // border: 0.1rem solid #d1d1d5;
    font-size: 1.2rem;
    margin-left: 0.9rem;
  }

  .course__name{
    font-size: 2rem;
  }
  .chapter__name{
    font-size: 1.6rem;
  }
  .lesson__name {
    font-size: 1.5rem;
  }

  


  .subLabel {
    font-size: 1.5rem;
    color: red;
    margin-top: 1rem;
    font-weight: bold;
  
    &-price {
      font-size: 1.1rem;
      margin-top: 1.3rem;
    }
  }
  
  .Chapter,
  .Lesson {
    top: auto;
    left: auto;
    width: 50rem;
    padding: 3rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    // position: fixed !important;
    z-index: 10;
  
    .form-control {
      font-size: 1.5rem;
    }
  }
  
  .background-color {
    background-color: #d8d7dc;
  }
  
  