@import "../global/variable";

.logo {
  // display: none;
  margin: 5rem 2rem;
  &:hover {
    text-decoration: none;
  }
  &--img {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .text-primary__sun {
    margin: 0rem;
    font-size: 2rem;
    color: #000;
    font-weight: bolder;
  }

  .text-primary__light {
    font-size: 2rem;
    font-weight: bolder;
    color: $primary-color;
  }

  @media only screen and (max-width: 31.25em) {
    // margin: 2rem 2rem;
    display: none;
  }
}

.search {
  position: relative;
  flex: 0 0 40%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-color;
  border: 1px solid $gray-color;
  border-radius: 50px;

  select.search__option {
    position: relative;
    border: none;
    outline: none;
    padding-left: 10px;
    margin: 8px 10px 8px 0;
    align-self: stretch;
    min-width: 180px;
    font-size: 1.6rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 1px solid $gray-color;
    background-color: $white-color;
    z-index: 10;
    cursor: pointer;

    option {
      // cursor: pointer !important;
      // display: inline-block;
      // font-size: 1.6rem;
      // height: 50px;
      // margin: 8px;
      // padding: 10px 0 10px 22px;

      // &:hover {
      //   background-color: $hover-color;
      //   cursor: pointer;
      // }
    }
  }

  .search__input {
    position: relative;
    flex: 1;
    border: none;
    font-size: 1.6rem;
    color: $text-color;
    font-weight: 500;
    padding: 1rem 2rem;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      // transform: translateY(-50%);
      width: 1px;
      height: 80%;
      background-color: $gray-color;
      z-index: 2;
    }
  }

  .search__button {
    border: none;
    display: block;
    width: 50px;
    align-self: stretch;
    font-size: 1.2rem;
    background-color: transparent;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }

    .search__icon {
      color: #999;
    }
  }
}

// USER NAV
.user-nav {
  margin-right: 2.6rem;
  font-size: 1.5rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__user {
    &-photo {
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 0.4rem;
    }
    &-name {
      font-family: "Poppins", sans-serif;
    }
  }
}

.user-nav__acc {
  margin-right: 2rem;

  @media only screen and (max-width: 31.25em) {
    display: none;
  }
}

@media only screen and (max-width: 31.25em) {
  .logo {
    height: 5rem;
    margin-left: 1rem;
  }
  .search {
    border-radius: 0;
  }
}
