@import '../global/variable';

.pagination {
    display: inline-block;

    a {
        color: $black-color;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        border: 1px solid $border-color;
        margin: 0 4px;
        font-size: 1.8rem;

        &.active {
            background-color: $primary-color;
            color: $black-color;
            border: 1px solid $primary-color;
        }

        &:hover:not(.active) {
            background-color: $hover-color;
        }
    }
}
