{{#section "css"}}
  <link rel="stylesheet" href="/css/admin.css" />
{{/section}}

<div class="container">
  <div class="admin__header">
    <h1 class="admin__title">Courses</h1>
  </div>

  <table class="table table-bordered table--courses">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Course Name</th>
        <th>Category</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">0</td>
        <td>Javascript for Beginners</td>
        <td>IT & Software</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">1</td>
        <td>Javascript for Beginners</td>
        <td>Network</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">2</td>
        <td>Javascript for Beginners</td>
        <td>Operating System</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <td>Javascript for Beginners</td>
        <td>Javscript</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">4</td>
        <td>Javascript for Beginners</td>
        <td>Web development</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">5</td>
        <td>Javascript for Beginners</td>
        <td>ReactJS</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">6</td>
        <td>Javascript for Beginners</td>
        <td>Nodejs</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">7</td>
        <td>Javascript for Beginners</td>
        <td>Software testing</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">8</td>
        <td>Javascript for Beginners</td>
        <td>Postman</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td scope="row">9</td>
        <td>Javascript for Beginners</td>
        <td>Java</td>
        <td class="col-btn">
          <a href="" class="btn btn--danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>