{{#section "css"}}
  <link rel="stylesheet" href="/css/admin.css" />
{{/section}}

{{#section "js"}}
  <script>
    let idCourse; 
    const deleteForm = document.getElementById("deleteCourseForm");

    $('#deleteCourseModal').on('show.bs.modal', function (event) { 
      const button = $(event.relatedTarget)
      idCourse = button.data('id') 
    })

    $("#deleteBtn").on('click', () =>{ 
      deleteForm.action = '/admin/courses?id='+ idCourse + "&_method=DELETE"; 
      deleteForm.submit(); 
    })
  </script>
{{/section}}

<div class="container">
  <div class="admin__header">
    <h1 class="admin__title">Courses</h1>
  </div>

  <table class="table table-bordered table--courses">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Course Name</th>
        <th>Category</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.courses}}
        <tr>
          <td scope="row">{{id}}</td>
          <td>{{name}}</td>
          <td>{{category}}</td>
          <td class="col-btn">
            <a
              href="#"
              class="d-flex link--danger"
              id="delete"
              data-id={{id}}
              data-toggle="modal"
              data-target="#deleteCourseModal"
            >
              <i class="fa fa-trash mr-2" aria-hidden="true"></i>
              delete
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Form delete }}
<form id="deleteCourseForm" method="post"></form>

{{! Confirm delete category }}
<div
  class="modal fade"
  id="deleteCourseModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteCourseModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteCourseModal">Confirm delete</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mt-3 mb-3">
        <h1>Are you sure to delete this course?</h1>
      </div>
      <div class="modal-footer">
        <button
          id="deleteBtn"
          type="button"
          class="btn btn--danger"
        >Delete</button>
        <button
          type="button"
          class="btn btn--border"
          data-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>