body {
  font-size: 1.5rem; }

.titleFooter {
  font-weight: bold !important;
  font-size: 1.8rem !important;
  font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji, segoe ui symbol !important;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 31.25em) {
    .titleFooter {
      font-size: 1.2rem;
      margin-bottom: 1rem; } }

@media only screen and (max-width: 31.25em) {
  .contentFooter {
    font-size: 1.3rem; } }

.footer {
  margin-left: 10rem; }
  @media only screen and (max-width: 31.25em) {
    .footer {
      margin-left: 0; } }
