.logo {
  margin: 5rem 2rem; }
  .logo:hover {
    text-decoration: none; }
  .logo--img {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 1rem; }
  .logo .text-primary__sun {
    margin: 0rem;
    font-size: 2rem;
    color: #000;
    font-weight: bolder; }
  .logo .text-primary__light {
    font-size: 2rem;
    font-weight: bolder;
    color: #f8d752; }
  @media only screen and (max-width: 31.25em) {
    .logo {
      display: none; } }

.search {
  position: relative;
  flex: 0 0 40%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 50px; }
  .search select.search__option {
    position: relative;
    border: none;
    outline: none;
    padding-left: 10px;
    margin: 8px 10px 8px 0;
    align-self: stretch;
    min-width: 180px;
    font-size: 1.6rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 1px solid #777;
    background-color: #fff;
    z-index: 10;
    cursor: pointer; }
  .search .search__input {
    position: relative;
    flex: 1;
    border: none;
    font-size: 1.6rem;
    color: #101010;
    font-weight: 500;
    padding: 1rem 2rem;
    background-color: transparent; }
    .search .search__input:focus {
      outline: none; }
    .search .search__input::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 80%;
      background-color: #777;
      z-index: 2; }
  .search .search__button {
    border: none;
    display: block;
    width: 50px;
    align-self: stretch;
    font-size: 1.2rem;
    background-color: transparent;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; }
    .search .search__button:hover {
      cursor: pointer; }
    .search .search__button:focus {
      outline: none; }
    .search .search__button:active {
      transform: translateY(2px); }
    .search .search__button .search__icon {
      color: #999; }

.user-nav {
  margin-right: 2.6rem;
  font-size: 1.5rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .user-nav__user-photo {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.4rem; }
  .user-nav__user-name {
    font-family: "Poppins", sans-serif; }

.user-nav__acc {
  margin-right: 2rem; }
  @media only screen and (max-width: 31.25em) {
    .user-nav__acc {
      display: none; } }

@media only screen and (max-width: 31.25em) {
  .logo {
    height: 5rem;
    margin-left: 1rem; }
  .search {
    border-radius: 0; } }
