.btn {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: #101010;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px; }
  .btn:hover {
    color: #101010;
    border-color: #000; }
  .btn:focus {
    outline: 0;
    box-shadow: none; }
  .btn.btn--active {
    color: #101010;
    border-color: #f8d752;
    background-color: #f8d752; }
  .btn.btn--border {
    border-color: #000; }
    .btn.btn--border:hover {
      color: #101010;
      border-color: #000;
      background-color: #ddd; }
  .btn.btn--icon {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .btn.btn--primary {
    border-color: #f8d752;
    background-color: #f8d752; }
    .btn.btn--primary:hover {
      color: #101010;
      background-color: #cab14b; }
    .btn.btn--primary.btn--border {
      border-color: #000; }
  .btn.btn--submit {
    background-color: black;
    color: #fff;
    border-radius: 0.5rem; }
    .btn.btn--submit:hover, .btn.btn--submit:active {
      background-color: black;
      color: #e59819;
      transform: scaleY(1.1);
      cursor: pointer; }
  .btn.btn--danger {
    color: #fff;
    border-color: #fe3636;
    background-color: #fe3636; }
    .btn.btn--danger:hover {
      opacity: 0.6; }
    .btn.btn--danger.btn--border {
      border-color: #000; }
  .btn.btn--info {
    color: #fff;
    border-color: #5c5cff;
    background-color: #5c5cff; }
    .btn.btn--info:hover {
      opacity: 0.6; }
    .btn.btn--info.btn--border {
      border-color: #000; }
  .btn.btn--success {
    color: #fff;
    border-color: #16a116;
    background-color: #16a116; }
    .btn.btn--success:hover {
      opacity: 0.6; }
    .btn.btn--success.btn--border {
      border-color: #000; }
  .btn.btn--disable {
    color: #101010;
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
    cursor: default; }
    .btn.btn--disable:hover {
      opacity: 1;
      cursor: default; }

.table {
  border-spacing: 1px; }
  .table thead th {
    text-align: center; }
  .table tbody td,
  .table thead th {
    vertical-align: middle; }
  .table .col-btn {
    width: 60px;
    padding: 10px; }
    .table .col-btn .btn {
      width: 30px;
      display: flex;
      justify-content: center;
      margin: auto; }

.fa-star {
  color: #feda56; }

.stars {
  position: relative;
  white-space: nowrap;
  font-size: 1.2rem; }
  .stars .overlay--star {
    background: #fff;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0; }
