body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #fff; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; } }

.container-fluid {
  margin-top: calc(65px + 20px); }

.content {
  margin-left: calc(60px + 20px);
  width: 94%; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  font-size: 1.4rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f3f3f4;
  box-shadow: rgba(100, 100, 111, 0.2) 2px 0 12px;
  z-index: 20; }

@media only screen and (max-width: 31.25em) {
  .header {
    top: 8rem;
    padding-left: 0;
    align-content: space-around;
    height: 4rem;
    display: none; }
  .content {
    margin-left: 3rem;
    margin-top: 0rem;
    flex-direction: column; } }

.overlay {
  position: fixed;
  top: 12rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10; }

.hidden {
  display: none; }

.show {
  display: block; }
