{{#section 'css'}}
  <link rel="stylesheet" href="/public/css/profile.css">
{{/section}}
 {{#section 'imgs'}}
  <link rel="stylesheet" href="/public/imgs/background/bg1.png">
{{/section}}
 
  <p class="main-title">Account settings</p>
  <hr>
  <form action="#" method="post" class="form-profile">
  <div class="profile">
    <div class="profile__infor">
      <div class="profile__infor--notice">
        <p class="profile__infor--notice__title">User Information</p>
        <p class="profile__infor--notice__text1">Here you can edit public information about yourself.</p>
        <p class="profile__infor--notice__text1">But remember not to share your individual information with anyone else.</p>
      </div>
      <div class="profile__infor--showName">
        <p >Name</p>
        <div class="profile__infor--showName__field">
          <p class="profile__infor--showName__input">Lan Vy Le Nguyen</p>
          <i class="far fa-edit"></i>
        </div>
      </div>
      <div class="profile__infor--showEmail">
        <p>Email</p>
        <div class="profile__infor--showEmail__field">
          <p class="profile__infor--showEmail__input">vylee2905@gmail.com</p>
          <i class="far fa-edit"></i>
        </div>
      </div>
      <div class="profile__infor--chagePass">
          <div class="profile__infor--chagePass__main">
              <p>Change password</p>
              <input class="profile__infor--changePass__input" type="password" placeholder="New password" ></input>
          </div>
          <div class="profile__infor--chagePass__btn">
              <a role="button" class="profile__infor--chagePass__btn--update">Update</a>
          </div>
      </div>
      <div class="profile__infor--del">
          <a class="profile__infor--del__btn">Delete account</a>
      </div>
    </div>
    <div class="profile__photo">
      <p class="profile__photo-title">Profile Photo</p>
      <img src="/public/imgs/userPictures/photoOfVy.jpg" class="avatar" alt="">
      <p class="profile__photo--upload" >
        <i class="fas fa-arrow-circle-up"></i>
        Upload new photo
      </p>
    </div>
  </div>
</form>