{{#section "css"}}
  <link rel="stylesheet" href="/css/listAccount.css" />
{{/section}}
<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Member</h1>
    <a class="btn" href="/admin/listAccount/addTeacher"><i
        class="fas fa-plus"
      ></i>
      Add teacher</a>
  </div>
  <div class="choose d-flex">
    <div><a class="active" href="http://">All</a></div>
    <div><a href="http://">Teachers</a></div>
    <div><a href="http://">Students</a></div>
  </div>

  <table class="table table-striped">
    <thead class="thead">
      <tr class="thead">
        <th><input
            class="mt-2"
            type="checkbox"
            id="html"
            name="fav_language"
            value="HTML"
          /></th>
        <th class="text-primary">Username</th>
        <th class="text-primary">Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {{#each user}}
        <tr>
          <td style="width:2px"><input
              class="mt-4"
              type="checkbox"
              id="html"
              name="fav_language"
              value="HTML"
            /></td>
          <td class="d-flex">
            <img
              class="mr-3"
              style="width:45px;height: 40px;"
              src="http://phunuvietnam.mediacdn.vn/media/news/33abffcedac43a654ac7f501856bf700/anh-profile-tiet-lo-g-ve-ban-1.jpg"
              alt=""
            />
            <div class="d-flex flex-column justify-content-between">
              <div>{{name}}</div>
              <div>
                <a href="http://"><i class="fas fa-pen"></i> Edit</a>
                <a class="pl-2 text-danger" href="http://"><i
                    class="fas fa-trash"
                  ></i>
                  Delete</a>
              </div>
            </div>
          </td>
          <td class="text-primary">{{email}}</td>
          <td>{{ruleName}}</td>
        </tr>
      {{/each}}

    </tbody>

  </table>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>