{{#section "css"}}
  <link rel="stylesheet" href="/css/listAccount.css" />
{{/section}}
<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Member</h1>
    <a class="btn" href=""><i class="fas fa-plus"></i> Add member</a>
  </div>
  <div class="choose d-flex">
    <div><a class="active" href="http://">All</a></div>
    <div><a href="http://">Teachers</a></div>
    <div><a href="http://">Students</a></div>
  </div>

  <table class="table table-striped">
    <tr>
      <th><input
          class="mt-2"
          type="radio"
          id="html"
          name="fav_language"
          value="HTML"
        /></th>
      <th class="text-primary">Username</th>
      <th class="text-primary">Email</th>
      <th>Role</th>
      <th>Posts</th>
    </tr>
    <tr>
      <td style="width:2px"><input
          class="mt-4"
          type="radio"
          id="html"
          name="fav_language"
          value="HTML"
        /></td>
      <td class="d-flex">
        <img
          class="mr-3"
          style="width:45px;height: 40px;"
          src="http://phunuvietnam.mediacdn.vn/media/news/33abffcedac43a654ac7f501856bf700/anh-profile-tiet-lo-g-ve-ban-1.jpg"
          alt=""
        />
        <div class="d-flex flex-column justify-content-between">
          <div>manhtu227</div>
          <div>
            <a href="http://"><i class="fas fa-pen"></i> Edit</a>
            <a class="pl-2 text-danger" href="http://"><i
                class="fas fa-trash"
              ></i>
              Delete</a>
          </div>
        </div>
      </td>
      <td class="text-primary">manhtu@gmail.com</td>
      <td>Teacher</td>
      <td>3</td>
    </tr>
    <tr>
      <td style="width:2px"><input
          class="mt-4"
          type="radio"
          id="html"
          name="fav_language"
          value="HTML"
        /></td>
      <td class="d-flex">
        <img
          class="mr-3"
          style="width:45px;height: 40px;"
          src="http://phunuvietnam.mediacdn.vn/media/news/33abffcedac43a654ac7f501856bf700/anh-profile-tiet-lo-g-ve-ban-1.jpg"
          alt=""
        />
        <div class="d-flex flex-column justify-content-between">
          <div>manhtu227</div>
          <div>
            <a href="http://"><i class="fas fa-pen"></i> Edit</a>
            <a class="pl-2 text-danger" href="http://"><i
                class="fas fa-trash"
              ></i>
              Delete</a>
          </div>
        </div>
      </td>
      <td class="text-primary">manhtu@gmail.com</td>
      <td>Teacher</td>
      <td>3</td>
    </tr>
    <tr>
      <td style="width:2px"><input
          class="mt-4"
          type="radio"
          id="html"
          name="fav_language"
          value="HTML"
        /></td>
      <td class="d-flex">
        <img
          class="mr-3"
          style="width:45px;height: 40px;"
          src="http://phunuvietnam.mediacdn.vn/media/news/33abffcedac43a654ac7f501856bf700/anh-profile-tiet-lo-g-ve-ban-1.jpg"
          alt=""
        />
        <div class="d-flex flex-column justify-content-between">
          <div>manhtu227</div>
          <div>
            <a href="http://"><i class="fas fa-pen"></i> Edit</a>
            <a class="pl-2 text-danger" href="http://"><i
                class="fas fa-trash"
              ></i>
              Delete</a>
          </div>
        </div>
      </td>
      <td class="text-primary">manhtu@gmail.com</td>
      <td>Teacher</td>
      <td>3</td>
    </tr>
    <tr>
      <td style="width:2px"><input
          class="mt-4"
          type="radio"
          id="html"
          name="fav_language"
          value="HTML"
        /></td>
      <td class="d-flex">
        <img
          class="mr-3"
          style="width:45px;height: 40px;"
          src="http://phunuvietnam.mediacdn.vn/media/news/33abffcedac43a654ac7f501856bf700/anh-profile-tiet-lo-g-ve-ban-1.jpg"
          alt=""
        />
        <div class="d-flex flex-column justify-content-between">
          <div>manhtu227</div>
          <div>
            <a href="http://"><i class="fas fa-pen"></i> Edit</a>
            <a class="pl-2 text-danger" href="http://"><i
                class="fas fa-trash"
              ></i>
              Delete</a>
          </div>
        </div>
      </td>
      <td class="text-primary">manhtu@gmail.com</td>
      <td>Teacher</td>
      <td>3</td>
    </tr>
    <tr>
      <td style="width:2px"><input
          class="mt-4"
          type="radio"
          id="html"
          name="fav_language"
          value="HTML"
        /></td>
      <td class="d-flex">
        <img
          class="mr-3"
          style="width:45px;height: 40px;"
          src="http://phunuvietnam.mediacdn.vn/media/news/33abffcedac43a654ac7f501856bf700/anh-profile-tiet-lo-g-ve-ban-1.jpg"
          alt=""
        />
        <div class="d-flex flex-column justify-content-between">
          <div>manhtu227</div>
          <div>
            <a href="http://"><i class="fas fa-pen"></i> Edit</a>
            <a class="pl-2 text-danger" href="http://"><i
                class="fas fa-trash"
              ></i>
              Delete</a>
          </div>
        </div>
      </td>
      <td class="text-primary">manhtu@gmail.com</td>
      <td>Teacher</td>
      <td>3</td>
    </tr>

  </table>
</div>