{{#section "css"}}
  <link rel="stylesheet" href="/css/partials/pagination.css" />
  <link rel="stylesheet" href="/css/courses.css" />
{{/section}}

  <div class="row">
    <div class="col-lg-2">
      {{> categoryBar this}}
    </div>

    <div class="col-lg-10">
      <div class="courses__header">
        <h1 class="courses__title">Javascript</h1>
      </div>
      
      <div class="row w-100 mt-4">
        <div class="col-lg-3 col-sm-6">
          <div class="card course course--best-seller">
            <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
        <span>bestseller</span>
      </div>
      <img
        class="card-img-top course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

            <div class="card-body">
              <h4 class="course__title"> Javascript for Beginners Javascript for Beginners Javascript for BeginnersJavascript for Beginners</h4>

              <ul class="course__category">
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Web Development</a>
                </li>
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Javascript</a>
                </li>
              </ul>
             <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

              <div class="course__review">
                <div class="course__review-score">
                 {{> barStart}}
                </div>

                <div class="course__review-number">(1,332)</div>
              </div>

              <div class="course__price">
                <h4 class="course__price-new">
                  299.000
                  <span class="course__price-unit">đ</span>
                </h4>
                <h4 class="course__price-old">
                  499.000
                  <span class="course__price-unit">đ</span>
                </h4>
              </div>
            </div>

            <div class="card-footer course__buttons">
              <a
                name="buy-btn"
                id="buy-btn"
                class="btn btn--border"
                href="#"
                role="button"
              >Buy now</a>

              <a
                name="add-cart-btn"
                id="add-cart-btn"
                class="btn btn--primary btn--icon"
                href="#"
                role="button"
              >
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card course course--best-seller">
            <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
        <span>bestseller</span>
      </div>
      <img
        class="card-img-top course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

            <div class="card-body">
              <h4 class="course__title"> Javascript for Beginners Javascript for Beginners Javascript for BeginnersJavascript for Beginners</h4>

              <ul class="course__category">
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Web Development</a>
                </li>
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Javascript</a>
                </li>
              </ul>
             <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

              <div class="course__review">
                <div class="course__review-score">
                 {{> barStart}}
                </div>

                <div class="course__review-number">(1,332)</div>
              </div>

              <div class="course__price">
                <h4 class="course__price-new">
                  299.000
                  <span class="course__price-unit">đ</span>
                </h4>
                <h4 class="course__price-old">
                  499.000
                  <span class="course__price-unit">đ</span>
                </h4>
              </div>
            </div>

            <div class="card-footer course__buttons">
              <a
                name="buy-btn"
                id="buy-btn"
                class="btn btn--border"
                href="#"
                role="button"
              >Buy now</a>

              <a
                name="add-cart-btn"
                id="add-cart-btn"
                class="btn btn--primary btn--icon"
                href="#"
                role="button"
              >
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card course course--best-seller">
            <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
        <span>bestseller</span>
      </div>
      <img
        class="card-img-top course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

            <div class="card-body">
              <h4 class="course__title"> Javascript for Beginners Javascript for Beginners Javascript for BeginnersJavascript for Beginners</h4>

              <ul class="course__category">
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Web Development</a>
                </li>
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Javascript</a>
                </li>
              </ul>
             <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

              <div class="course__review">
                <div class="course__review-score">
                 {{> barStart}}
                </div>

                <div class="course__review-number">(1,332)</div>
              </div>

              <div class="course__price">
                <h4 class="course__price-new">
                  299.000
                  <span class="course__price-unit">đ</span>
                </h4>
                <h4 class="course__price-old">
                  499.000
                  <span class="course__price-unit">đ</span>
                </h4>
              </div>
            </div>

            <div class="card-footer course__buttons">
              <a
                name="buy-btn"
                id="buy-btn"
                class="btn btn--border"
                href="#"
                role="button"
              >Buy now</a>

              <a
                name="add-cart-btn"
                id="add-cart-btn"
                class="btn btn--primary btn--icon"
                href="#"
                role="button"
              >
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card course course--best-seller">
            <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
        <span>bestseller</span>
      </div>
      <img
        class="card-img-top course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

            <div class="card-body">
              <h4 class="course__title"> Javascript for Beginners Javascript for Beginners Javascript for BeginnersJavascript for Beginners</h4>

              <ul class="course__category">
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Web Development</a>
                </li>
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Javascript</a>
                </li>
              </ul>
             <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

              <div class="course__review">
                <div class="course__review-score">
                 {{> barStart}}
                </div>

                <div class="course__review-number">(1,332)</div>
              </div>

              <div class="course__price">
                <h4 class="course__price-new">
                  299.000
                  <span class="course__price-unit">đ</span>
                </h4>
                <h4 class="course__price-old">
                  499.000
                  <span class="course__price-unit">đ</span>
                </h4>
              </div>
            </div>

            <div class="card-footer course__buttons">
              <a
                name="buy-btn"
                id="buy-btn"
                class="btn btn--border"
                href="#"
                role="button"
              >Buy now</a>

              <a
                name="add-cart-btn"
                id="add-cart-btn"
                class="btn btn--primary btn--icon"
                href="#"
                role="button"
              >
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card course course--best-seller">
            <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
        <span>bestseller</span>
      </div>
      <img
        class="card-img-top course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

            <div class="card-body">
              <h4 class="course__title"> Javascript for Beginners Javascript for Beginners Javascript for BeginnersJavascript for Beginners</h4>

              <ul class="course__category">
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Web Development</a>
                </li>
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Javascript</a>
                </li>
              </ul>
             <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

              <div class="course__review">
                <div class="course__review-score">
                 {{> barStart}}
                </div>

                <div class="course__review-number">(1,332)</div>
              </div>

              <div class="course__price">
                <h4 class="course__price-new">
                  299.000
                  <span class="course__price-unit">đ</span>
                </h4>
                <h4 class="course__price-old">
                  499.000
                  <span class="course__price-unit">đ</span>
                </h4>
              </div>
            </div>

            <div class="card-footer course__buttons">
              <a
                name="buy-btn"
                id="buy-btn"
                class="btn btn--border"
                href="#"
                role="button"
              >Buy now</a>

              <a
                name="add-cart-btn"
                id="add-cart-btn"
                class="btn btn--primary btn--icon"
                href="#"
                role="button"
              >
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card course course--best-seller">
            <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
        <span>bestseller</span>
      </div>
      <img
        class="card-img-top course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

            <div class="card-body">
              <h4 class="course__title"> Javascript for Beginners Javascript for Beginners Javascript for BeginnersJavascript for Beginners</h4>

              <ul class="course__category">
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Web Development</a>
                </li>
                <li class="course__category-item">
                  <a href="#" class="course__category-link">Javascript</a>
                </li>
              </ul>
             <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

              <div class="course__review">
                <div class="course__review-score">
                 {{> barStart}}
                </div>

                <div class="course__review-number">(1,332)</div>
              </div>

              <div class="course__price">
                <h4 class="course__price-new">
                  299.000
                  <span class="course__price-unit">đ</span>
                </h4>
                <h4 class="course__price-old">
                  499.000
                  <span class="course__price-unit">đ</span>
                </h4>
              </div>
            </div>

            <div class="card-footer course__buttons">
              <a
                name="buy-btn"
                id="buy-btn"
                class="btn btn--border"
                href="#"
                role="button"
              >Buy now</a>

              <a
                name="add-cart-btn"
                id="add-cart-btn"
                class="btn btn--primary btn--icon"
                href="#"
                role="button"
              >
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="courses__pagination">
  {{> pagination}}
</div>
    </div>
  </div>