{{#section "css"}}
  <link rel="stylesheet" href="/css/courses.css" />
  <link rel="stylesheet" href="/css/courseDetail.css" />
{{/section}}

<div class="courseD__container">
  <div class="courseD__intro">
    <ul class="course__category">
      <li class="course__category-item">
        <a href="#" class="courseD__intro__link">Web Development</a>
      </li>
      <li class="course__category-item">
        <a href="#" class="courseD__intro__link">Javascript</a>
      </li>
    </ul>

    <div class="d-flex align-items-center">
      <img
        class="courseD__intro__avt"
        src="https://securiumsolutions.com/blog/wp-content/uploads/2021/05/Javascript.png"
      />

      <div class="courseD__intro__info">
        <h1 class="courseD__intro__name">Javascript for Beginners</h1>
        <p class="courseD__intro__item">Learn javascript online and supercharge
          your web design with this Javascript for beginners training course.</p>

        <div class="course__teacher">
          Teacher
          <a class="courseD__intro__link" href="/teacherProfile">Dollar Design
            School</a>
        </div>

        <div class="course__review">
          <div class="course__review-ratings">
            4.3
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
          <a class="course__review-number" href="#">1336 ratings</a>
          11396 students
        </div>

        <div class="courseD__intro__footer">
          <div class="mr-5">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Last updated 4/2016
          </div>
          <div>
            <i class="fa fa-globe" aria-hidden="true"></i>
            English
          </div>
        </div>

        <div class="courseD__intro__buttons">
          <div class="buying-btn-frame">
            <button class="buying-button">
              đ 299.000
            </button>
          </div>

          <a
            name="add-cart-btn"
            id="add-cart-btn"
            class="btn btn--primary btn--icon"
            href="#"
            role="button"
          >
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="courseD__content">
    <div class="left">
      <div class="description">
        <h2 class="description-title">Required</h2>
        <p class="description-item">Some basic knowledge of HTML is required for
          this course.</p>
      </div>

      <div class="description">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">What will you learn</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <i class="fa fa-check" aria-hidden="true"></i>
                Extensive, informative and interesting video lecture
              </td>
              <td>
                <i class="fa fa-check" aria-hidden="true"></i>
                Complete Code demonstrated in lecture
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-check" aria-hidden="true"></i>
                Lab Exercises
              </td>
              <td>
                <i class="fa fa-check" aria-hidden="true"></i>
                Lab Solution Sets
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-check" aria-hidden="true"></i>
                All Powerpoint Demonstrations Used in Course
              </td>
              <td>
                <i class="fa fa-check" aria-hidden="true"></i>
                Instructor contact Email for questions and clarifications
              </td>
            </tr>
            <tr>
              <td>
                <i class="fa fa-check" aria-hidden="true"></i>
                Coverage of all important primary Javascript concepts
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="description">
        <h2 class="description-title">Description</h2>
        <p class="description-item">Take this Javascript training course and
          start learning Javascript today.<br /><br />"As a business guy I have
          no place in programming." Ten years ago you could have gotten away
          with that statement. Today you say that to your colleagues and they
          scoff at you before they go back to their computers to fix real
          problems and do real work.<br /><br />If you want to do something
          useful start by learning Javascript . In these days when the browser
          is central to all computer use knowing "the language of the browser"
          is the most important step. A few years ago Javascript potential was
          uncertain and many programmers considered it useless. These days
          however competent programmers have identified Javascript real
          potential and uses and it has gone from a toy language to the main
          language of the browser. It has become one of the most useful
          languages of this era. Every developer needs at least a basic
          understanding of Javascript. A developer who knows Javascript is the
          rockstar of the company and is in constant demand by employers. Our
          online Javascript<br /><br />course will get you started by teaching
          all the essential aspects of coding in Javascript. So... what's it
          gonna be? Do you want to supercharge your career and be in constant
          demand by employers? Do you want to learn how to create dynamic and
          innovative Javascript documents? Start programming today with our
          Javascript course for Beginners training and take control of your
          career.</p>
      </div>

      <div class="description">
        <p class="description-title">Course content</p>
        <ul class="course_content_table">

          <li class="chapter">
            <a class="chapter-name" href="#">Javascript for beginers</a>
            <p class="chapter-information">3 lessons. 4 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 1: Hello javascript</a>
            <p class="chapter-information">11 lessons. 21 minutes</p></li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 2: Storing information in
              Variables</a>
            <p class="chapter-information">9 lessons. 31 minutes</p>
          </li>
          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 3: Conditional statement</a>
            <p class="chapter-information">10 lessons. 27 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 4: Dialog boxes</a>
            <p class="chapter-information">7 lessons. 15 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 5: Now We're Iterating!
              Loops in Javascript</a>
            <p class="chapter-information">9 lessons. 40 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 6: Coding Javascript
              function</a>
            <p class="chapter-information">3 lessons. 20 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 7: Working with Arrays</a>
            <p class="chapter-information">8 lessons. 50 minutes</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="right">
      <div class="video_review">
        <video width="431" controls autoplay muted>
          <source
            src="/videos/JavaScript for Developers 01 - Introduction.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>

      {{! <a class="see_reviews-link" href="#">See reviews</a> }}

      <div class="similar_courses">
        <p class="description">Similar courses</p>
        <dl>
          <dt>
            <a
              href="/courses/courseDetail"
              role="button"
              class="similar_course-button"
            >
              <img
                src="https://cafedev.vn/wp-content/uploads/2020/05/cafedevn_html.png"
                class="similar_course-image"
                alt="Cinque Terre"
              />
              <p class="similar_course_name">Javascript for beginers</p>
              <p class="similar_course-price">đ 389.000</p>
            </a>
          </dt>

          <dt>
            <a
              href="/courses/courseDetail"
              role="button"
              class="similar_course-button"
            >
              <img
                src="https://cafedev.vn/wp-content/uploads/2020/05/cafedevn_html.png"
                class="similar_course-image"
                alt="Cinque Terre"
              />
              <p class="similar_course_name">Javascript for beginers</p>
              <p class="similar_course-price">đ 389.000</p>
            </a>
          </dt>

          <dt>
            <a
              href="/courses/courseDetail"
              role="button"
              class="similar_course-button"
            >
              <img
                src="https://cafedev.vn/wp-content/uploads/2020/05/cafedevn_html.png"
                class="similar_course-image"
                alt="Cinque Terre"
              />
              <p class="similar_course_name">Javascript for beginers</p>
              <p class="similar_course-price">đ 389.000</p>
            </a>
          </dt>

          <dt>
            <a
              href="/courses/courseDetail"
              role="button"
              class="similar_course-button"
            >
              <img
                src="https://cafedev.vn/wp-content/uploads/2020/05/cafedevn_html.png"
                class="similar_course-image"
                alt="Cinque Terre"
              />
              <p class="similar_course_name">Javascript for beginers</p>
              <p class="similar_course-price">đ 389.000</p>
            </a>
          </dt>

          <dt>
            <a
              href="/courses/courseDetail"
              role="button"
              class="similar_course-button"
            >
              <img
                src="https://cafedev.vn/wp-content/uploads/2020/05/cafedevn_html.png"
                class="similar_course-image"
                alt="Cinque Terre"
              />
              <p class="similar_course_name">Javascript for beginers</p>
              <p class="similar_course-price">đ 389.000</p>
            </a>
          </dt>
        </dl>
      </div>
    </div>
  </div>

  <div class="teacher">
    <p class="teacher_title">Teacher</p>
    <a href="#">
      <div class="teacher_review">
        <img
          src="/images/userPictures/photoCV.jpg"
          class="rounded-circle"
          id="teacher_avt"
          alt="Picture of teacher"
        />
        <div class="teacher_information">
          <a href="#" class="teacher_name-link">Jame Scott</a>
          <p class="teacher_role">Associate Professor</p>
          <p class="teacher_specialization">Department of Computer Science and
            Engineering</p>
          <div class="teacher_learner-courses">
            <i class="fa fa-user" aria-hidden="true"></i>
            &nbsp;603 585 leaners
          </div>
          <div class="teacher_learner-courses">
            <i class="fa fa-book" aria-hidden="true"></i>
            &nbsp;&nbsp;12 courses
          </div>

        </div>
      </div>
    </a>
  </div>

  <div class="feedback">
    <div class="col-md-3">
      <div class="feedback-left">
        <p class="feedback-title">Feedbacks</p>
        <div class="feedback_review">
          <p class="feedback_review-numberRate">4.3</p>
          <div>
            <div class="feedback_review-ratings">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-half" aria-hidden="true"></i>
            </div>
            <a class="feedback_review-ratings_links" href="#">1336 ratings</a>
          </div>
        </div>

        <div class="reviews-bar-graph">
          <ul>
            <li class="reviews-bar-graph-per_line">
              {{! <div>5 stars</div> }}
              <div>
                <div class="reviews-bar-graph-per_line-ratings">
                  <div class="reviews-bar-graph-straight_line">
                    <div class="reviews-bar-graph-sub_straight_line"></div>
                  </div>
                </div>
              </div>
              {{! <div>81,37%</div> }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="feedback-right">
        <div class="feedback-right-star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half" aria-hidden="true"></i>
        </div>
        <div class="display_flex">
          <p>By. John Matt &nbsp;</p>
          <p>&nbsp; March 3. 2022</p>
        </div>
        <p>Excellent course for anyone who is familiar with html, css, but
          cannot organise the subject in their mind. This course excellently
          teaches you the what is what, and how to do things in the correct way</p>
      </div>

      <div class="feedback-right">
        <div class="feedback-right-star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="display_flex">
          <p>By. John Matt &nbsp;</p>
          <p>&nbsp; March 3. 2022</p>
        </div>
        <p>Excellent course for anyone who is familiar with html, css, but
          cannot organise the subject in their mind. This course excellently
          teaches you the what is what, and how to do things in the correct way</p>
      </div>

      <div class="feedback-right">
        <div class="feedback-right-star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="display_flex">
          <p>By. John Matt &nbsp;</p>
          <p>&nbsp; March 3. 2022</p>
        </div>
        <p>Excellent course for anyone who is familiar with html, css, but
          cannot organise the subject in their mind. This course excellently
          teaches you the what is what, and how to do things in the correct way</p>
      </div>

      <div class="feedback-right">
        <div class="feedback-right-star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="display_flex">
          <p>By. John Matt &nbsp;</p>
          <p>&nbsp; March 3. 2022</p>
        </div>
        <p>Excellent course for anyone who is familiar with html, css, but
          cannot organise the subject in their mind. This course excellently
          teaches you the what is what, and how to do things in the correct way</p>
      </div>

      <div class="feedback-right">
        <div class="feedback-right-star">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div class="display_flex">
          <p>By. John Matt &nbsp;</p>
          <p>&nbsp; March 3. 2022</p>
        </div>
        <p>Excellent course for anyone who is familiar with html, css, but
          cannot organise the subject in their mind. This course excellently
          teaches you the what is what, and how to do things in the correct way</p>
      </div>
      <a
        name="See_more_feedbacks"
        id="see_more_feedbacks-btn"
        class="btn btn--border"
        href="#"
        role="button"
      >See more</a>
    </div>
  </div>
</div>