<head>
  <link rel="stylesheet" href="/css/courseDetail.css" />
</head>

<body>
  <div>
    <div class="headercouseDetail">
      <div class="intro">
        <ul class="courses__category">
          <li class="courses__category-item">
            <a href="#" class="courses__category-link">Web Development</a>
          </li>
          <li class="courses__category-item">
            <a href="#" class="courses__category-link">Javascript</a>
          </li>
        </ul>

        <h1 class="intro-name">Javascript for Beginners</h1>
        <p class="intro-item">Learn javascript online and supercharge your web
          design with this Javascript for beginners training course.</p>
        <div class="courses__review">
          <div class="courses__review-ratings">
            4.3
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
          <a class="intro-link" href="#">1336 ratings</a>
          11396 students
        </div>

        <div class="courses__teacher">
          Teacher
          <a class="intro-link" href="#">Dollar Design School</a>
        </div>

        <div class="footer_intro">
          <div class="footer_intro-item">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Last updated 4/2016
          </div>
          <div class="footer_intro-item">
            <i class="fa fa-globe" aria-hidden="true"></i>
            English
          </div>
        </div>

        <div class="select-button">
          <div class="buying-btn-frame">
            <button class="buying-button">
               299.000
            </button>
          </div>

          <div>
            <a
              style="height: 5rem;"
              name="add-cart-btn"
              id="add-cart-btn"
              class="btn btn--bg"
              href="#"
              role="button"
            >
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="content">
      <div class="left">
        <h2 class="description">Required</h2>
        <p class="description-item">Some basic knowledge of HTML is required for
          this course.</p>

        <div class="WhatWillLearn">
          <table class="table borderless">
            <thead>
              <tr>
                <th>What will you learn</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <div>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Extensive, informative and interesting video lecture
                  </div>
                </td>
                <td>
                  <div>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Complete Code demonstrated in lecture
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Lab Exercises
                  </div>
                </td>
                <td>
                  <div>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Lab Solution Sets
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    All Powerpoint Demonstrations Used in Course
                  </div>
                </td>
                <td>
                  <div>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Instructor contact Email for questions and clarifications
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div>
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Coverage of all important primary Javascript concepts
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <h2 class="description">Description</h2>
          <p class="description-item">Take this Javascript training course and
            start learning Javascript today.<br /><br />"As a business guy I
            have no place in programming." Ten years ago you could have gotten
            away with that statement. Today you say that to your colleagues and
            they scoff at you before they go back to their computers to fix real
            problems and do real work.<br /><br />If you want to do something
            useful start by learning Javascript . In these days when the browser
            is central to all computer use knowing "the language of the browser"
            is the most important step. A few years ago Javascript potential was
            uncertain and many programmers considered it useless. These days
            however competent programmers have identified Javascript real
            potential and uses and it has gone from a toy language to the main
            language of the browser. It has become one of the most useful
            languages of this era. Every developer needs at least a basic
            understanding of Javascript. A developer who knows Javascript is the
            rockstar of the company and is in constant demand by employers. Our
            online Javascript<br /><br />course will get you started by teaching
            all the essential aspects of coding in Javascript. So... what's it
            gonna be? Do you want to supercharge your career and be in constant
            demand by employers? Do you want to learn how to create dynamic and
            innovative Javascript documents? Start programming today with our
            Javascript course for Beginners training and take control of your
            career.</p>
        </div>

        <p class="description">Course content</p>
        <ul class="course_content_table">

          <li class="chapter">
            <a class="chapter-name" href="#">Javascript for beginers</a>
            <p class="chapter-information">3 lessons. 4 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 1: Hello javascript</a>
            <p class="chapter-information">11 lessons. 21 minutes</p></li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 2: Storing information in
              Variables</a>
            <p class="chapter-information">9 lessons. 31 minutes</p>
          </li>
          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 3: Conditional statement</a>
            <p class="chapter-information">10 lessons. 27 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 4: Dialog boxes</a>
            <p class="chapter-information">7 lessons. 15 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 5: Now We're Iterating!
              Loops in Javascript</a>
            <p class="chapter-information">9 lessons. 40 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 6: Coding Javascript
              function</a>
            <p class="chapter-information">3 lessons. 20 minutes</p>
          </li>

          <li class="chapter">
            <a class="chapter-name" href="#">Chapter 7: Working with Arrays</a>
            <p class="chapter-information">8 lessons. 50 minutes</p>
          </li>
        </ul>

      </div>
      <div class="right">
        <div>
          <video width="430" height="240" controls autoplay muted loop="true">
            <source
              src="/videos/JavaScript for Developers 01 - Introduction.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>

        <a class="see_reviews-link" href="#">See reviews</a>

        <p class="description">Similar courses</p>
        <dl>
          <dt>
            <button class="similar_course-button">
              <img
                src="https://cafedev.vn/wp-content/uploads/2020/05/cafedevn_html.png"
                class="similar_course-image"
                alt="Cinque Terre"
              />
              <p class="similar_course_name" href="#">Javascript for beginers</p>
              <p class="similar_course-price"> 389.000</p>
            </button>
          </dt>

          <dt>
            <button class="similar_course-button">
              <img
                src="https://cafedev.vn/wp-content/uploads/2020/05/cafedevn_html.png"
                class="similar_course-image"
                alt="Cinque Terre"
              />
              <p class="similar_course_name" href="#">Javascript for beginers</p>
              <p class="similar_course-price"> 389.000</p>
            </button>
          </dt>

          <dt>
            <button class="similar_course-button">
              <img
                src="https://cafedev.vn/wp-content/uploads/2020/05/cafedevn_html.png"
                class="similar_course-image"
                alt="Cinque Terre"
              />
              <p class="similar_course_name" href="#">Javascript for beginers</p>
              <p class="similar_course-price"> 389.000</p>
            </button>
          </dt>
        </dl>
      </div>

    </div>
  </div>

</body>