
{{#section "css"}}
<link rel="stylesheet" href="/css/createCourse.css" />
<link rel="stylesheet" href="/css/teacherProfile.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
{{/section}}
{{#section "js"}}
<script
    src="https://cdn.tiny.cloud/1/y16lx8krusdxb9jurdcxz9xr6r24nrd6vgz4231m0rgoezfz/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa5/theme.min.js"></script>
  <script>
    $('#fuMain').fileinput({
      maxFileCount: 5,
      theme: 'fa5',
      allowedFileExtensions: ['jpg', 'png', 'gif'],
    });
  </script>
  <script>
        tinymce.init({
      selector: 'textarea',
      menubar: false,
      plugins: 'paste image link autolink lists table media',
      toolbar: [
        'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
      ],
    });
</script>
{{/section}}




<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="profile-cover">
      <div class="profile-cover__img">
        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" />
        <h3 class="h3">Henry Foster</h3>
      </div>
      <div class="profile-cover__action bg--img" data-overlay="0.3">
        <button class="btn btn-rounded">
          <i class="fa fa-comment"></i>
          <span>Edit profile</span>
        </button>
        <button class="btn btn-rounded">
          <i class="fa fa-plus"></i>
          <span>Add new course</span>
        </button>
      </div>
      <div class="profile-cover__info">
        <ul class="nav">
          <li><strong>76,134</strong>Reviews</li>
          <li><strong>925,657</strong>Students</li>
          <li><strong>16</strong>Courses</li>
        </ul>
      </div>

    </div>
  </div>
  <div class="col-lg-10">
    <div class="formCreate">
      <div class="formCreate__title">
        <p>Create Course Lesson</p>
      </div>
      <hr />
      <form action="" class="formCourse">
        <div class="formCreate__titleCourse">
          <label>Course Title</label>
          <input type="text" placeholder="Name of course" class="inputField" />
        </div>
        <div class="formCreate__categoryLesson d-flex flex-wrap justify-content-between">
          <div class="topics">
            <label for="">Topics</label>
            <select class="inputField">
              <option>IT & Software</option>
              <option>Development</option>
              <option>Business</option>
              <option>Add more topic...</option>
            </select>
          </div>
          <div class="updatePicture">
            <label for="">Update Picture</label>
            <div><input type="file" name="filePicture" id="filePicture inputField" /></div>
          </div>
          <div class="price">
            <label for="">Price</label>
            <div><input type="text" name="currency-field" id="currency-field" pattern="^\VNĐ\d{1,3}(,\d{3})*(\.\d+)?$"
                value="" data-type="currency" placeholder="VNĐ1,000,000.00" class="inputField" />
            </div>
          </div>
        </div>
        <div class="formCreate__summaryCourse">
          <label>Summary</label>
          <input type="text" placeholder="Summary of course" class="inputField" />
        </div>
       
        <div class="formCreate__descriptionCourse">
          <label >Description</label>
          <textarea id="descriptionTextArea" placeholder="My Text Area"></textarea>
        </div>
        <div class="formCreate__benefitCourse">
          <label>Benefit</label>
          <textarea id="benefitTextArea" placeholder="My Text Area" ></textarea>
        </div>
        <div class="formCreate__requiredCourse">
          <label>Required</label>
          <textarea id="requiredTextArea" placeholder="My Text Area" ></textarea>
        </div>
        <div class="formCreate__videoLesson mt-3">
          <label>Create Documents</label>
          <input id="fuMain" type="file" class="file btn btnInput" data-preview-file-type="text">

          {{!-- <div class="uploadVideo">
            <div><i class="fas fa-cloud-upload-alt icon"></i></div>
            <div>
              <p class="msg-1">Browse and choose the file you want to</p>
            </div>
            <div>
              <p class="msg-2">upload from your computer</p>
            </div>
            <input id="input-id" type="file" class="file" data-preview-file-type="text">

          </div> --}}

        </div>
        <div class="formLessonList">
          <div class="formLessonList__title d-flex justify-content-between">
            <label class="title">Lesson list</label>
            <button class="btnClick"><i class="fas fa-plus"></i>
              Add new lesson</button>

          </div>
          <hr />
          <div class="formLessonList__content">
            <div class="formLessionList__mainTitle">
              <div class="row">
                <div class="col-lg-12">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p><i class="fas fa-expand-arrows-alt"></i>
                        Part 1: Hello Javascript</p>
                    </div>
                    <div class="mt-4 mr-4"><i class="fas fa-pen"></i>
                      Edit
                      <i class="fas fa-trash"></i>
                      Delete
                    </div>
                  </div>

                  <hr />
                  <div class="d-flex justify-content-between ml-4 mt-0 pt-0">
                    <div>
                      <p><i class="far fa-sticky-note"></i>
                        Lesson 1: Course structure and projects</p>
                    </div>
                    <div class="mt-4 mr-4"><i class="fas fa-pen"></i>
                      Edit
                      <i class="fas fa-trash"></i>
                      Delete
                    </div>
                  </div>
                  <hr />
                  <div class="d-flex justify-content-between ml-4 mt-0 pt-0">
                    <div>
                      <p><i class="far fa-sticky-note"></i>
                        Lesson 2: Setting up our code editor</p>
                    </div>
                    <div class="mt-4 mr-4"><i class="fas fa-pen"></i>
                      Edit
                      <i class="fas fa-trash"></i>
                      Delete
                    </div>
                  </div>
                  <hr />

                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="btnAddLesson ml-4 d-flex justify-content-between">
                    <p style="font-style: italic;">Add more chapter for your
                      lesson.
                    </p>
                    <button class="btnClick p-3" style="background-color:#6BB41B; border-color:transparent">
                      <i class="fas fa-plus"></i>
                      Add new chapter</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="formUpload__btn">
          <button class="btnCreate btn btn--submit"><i class="fas fa-check"></i>
            Create Lesson</button>
        </div>
      </form>
    </div>
  </div>
</div>