{{#section "css"}}
  <link rel="stylesheet" href="/css/enrollCourse.css" />
  <link rel="stylesheet" href="/css/partials/enrollCourse_sideBar.css" />
  {{/section}}

<div class="enrollCourse__body">

  {{! content page: video + course description }}
  <div class="col-sm-9">
    <div class="enrollCourse__mainContentCourse">
      {{! video }}
      <iframe
        height="592"
        width="1045"
        src="https://www.youtube.com/embed/{{this.lesson.videoID}}"
      >
      </iframe>


      {{! description }}
      <div class="intro_courseDetail">
        <ul class="courses__category">
          <li class="courses__category-item">
            <a href="#" class="courses__category-link">Web Development</a>
          </li>
          <li class="courses__category-item">
            <a href="#" class="courses__category-link">Javascript</a>
          </li>
        </ul>

        <div class="d-flex align-items-center">
          {{! <div class="course-detail__intro-avt"> }}
          <img
            class="course-detail__intro-avt"
            src="https://securiumsolutions.com/blog/wp-content/uploads/2021/05/Javascript.png"
          />
          {{! </div> }}

          <div class="course-detail__intro-info">
            <div class="select-button">
              <div>
                <h1 class="intro_courseDetail-name">Javascript for Beginners</h1>
                <p class="intro_courseDetail-item">Learn javascript online and
                  supercharge your web design with this Javascript for beginners
                  training course.</p>
              </div>
            </div>

            <div class="courses__teacher">
              Teacher
              <a class="intro_courseDetail-link" href="/teacherProfile">Dollar
                Design School</a>
            </div>
            <div class="courses__review">
              <div class="courses__review-ratings">
                4.3
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half" aria-hidden="true"></i>
              </div>
              <a class="intro_courseDetail-link" href="#">1336 ratings</a>
              11396 students
            </div>

            <div class="footer_intro">
              <div class="footer_intro-item">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Last updated 4/2016
              </div>
              <div class="footer_intro-item">
                <i class="fa fa-globe" aria-hidden="true"></i>
                English
              </div>
            </div>

          </div>
        </div>
      </div>


      {{! rate & feedback }}
      <!--Modal Launch Button-->

      <button
        type="button"
        class="btn btn-info btn-lg openmodal"
        data-toggle="modal"
        data-target="#myModal"
        id="rate_feedback-btn"
      >Rate & feedback</button>

      <!--Division for Modal-->
      <div id="myModal" class="modal fade" role="dialog">

        <!--Modal-->
        <div class="modal-dialog">

          <!--Modal Content-->
          <div class="modal-content">

            <!-- Modal Header-->
            <div class="modal-header">
              <h3>Feedback</h3>

              <!--Close/Cross Button-->
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                style="color: white;"
              >&times;</button>
            </div>

            <!-- Modal Body-->
            <div class="modal-body text-center">
              <i class="far fa-file-alt fa-4x mb-3 animated rotateIn icon1"></i>
              {{! <h3>Your opinion matters</h3> }}
              <h4>Help us improve our quality.
                <strong>Give us your feedback.</strong></h4>
              <hr />
              <h3>Your rating for this course</h3>
            </div>

            <!-- Radio Buttons for Rating-->
            <div class="form-check mb-4">
              <input name="feedback" type="radio" />
              <label class="ml-3" style="font-size: 1.3rem;">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                Very good
              </label>
            </div>
            <div class="form-check mb-4">
              <input name="feedback" type="radio" />
              <label class="ml-3" style="font-size: 1.3rem;">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                Good
              </label>
            </div>
            <div class="form-check mb-4">
              <input name="feedback" type="radio" />
              <label class="ml-3" style="font-size: 1.3rem;">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                Mediocre
              </label>
            </div>
            <div class="form-check mb-4">
              <input name="feedback" type="radio" />
              <label class="ml-3" style="font-size: 1.3rem;">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                Bad
              </label>
            </div>
            <div class="form-check mb-4">
              <input name="feedback" type="radio" />
              <label class="ml-3" style="font-size: 1.3rem;">
                <i class="fa fa-star" aria-hidden="true"></i>
                Very Bad
              </label>
            </div>

            <!--Text Message-->
            <div class="text-center">
              <h3>Your feedback</h3>
            </div>
            <textarea
              type="textarea"
              placeholder="Your Message"
              rows="3"
              style="font-size: 1.3rem;"
            ></textarea>

            <!-- Modal Footer-->
            <div class="modal-footer">
              <a href="" class="btn btn-primary">Public
                <i class="fa fa-paper-plane"></i>
              </a>
              <a
                href=""
                class="btn btn-outline-primary"
                data-dismiss="modal"
              >Cancel</a>
            </div>
          </div>
        </div>
      </div>


    </div>
    </div>
    

  {{! side bar: list chapter }}
  <div class="col-sm-3">
   {{> enrollCourse_sideBar}} 
  </div>