{{#section "css"}}
  <link rel="stylesheet" href="/css/home.css" />
{{/section}}
{{#section "js"}}
  <script src="/js/home.js"></script>
{{/section}}

<!-- trending movies -->

<div class="content__trending">
  <!-- title -->
  <div class="content__title">Trending Course
  </div>
  <div class="slider">
    <!-- Radio Button Start  -->
    <input type="radio" name="radio-btn" id="radio1" />
    <input type="radio" name="radio-btn" id="radio2" />
    <input type="radio" name="radio-btn" id="radio3" />
    <input type="radio" name="radio-btn" id="radio4" />

    <div class="course first">
      <div class="course__img">
        <img src="https://codingheroes.io/assets/img/C3.png" alt="" srcset="" />
        <div class="course__rate">
          <div class="course__rate--1">
            <h3>4987</h3>
            <span>Students</span>
          </div>
          <div class="course__rate--1">
            <h3>4987</h3>
            <span>Ratings</span>
          </div>
          <div class="course__rate--1">
            <h3>4.6 <i class="fas fa-star"></i></h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="course__detail">
        <h1 class="course__detail--name">Javascript for Beginners</h1>
        <p class="course__detail--item">Learn javascript online and supercharge
          your web design with this Javascript for beginners training course.</p>
        <div class="course__detail--teacher">
          Teacher
          <a href="#">Dollar Design School</a>
        </div>
        <div class="course__detail--btn">
          <a name="buy-btn" id="buy-btn" class="btn" href="#" role="button">Buy
            now
          </a>
          <a
            name="add-cart-btn"
            id="add-cart-btn"
            class="btn btn--bg"
            href="#"
            role="button"
          >
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
        </div>

      </div>
    </div>
    <div class="course">
      <div class="course__img">
        <img
          src="https://i.ytimg.com/vi/e6UImq0YH_I/maxresdefault.jpg"
          alt=""
          srcset=""
        />
        <div class="course__rate">
          <div class="course__rate--1">
            <h3>4987</h3>
            <span>Students</span>
          </div>
          <div class="course__rate--1">
            <h3>4987</h3>
            <span>Ratings</span>
          </div>
          <div class="course__rate--1">
            <h3>4.6 <i class="fas fa-star"></i></h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="course__detail">
        <h1 class="course__detail--name">Build Responsive Real-World Websites
          with HTML and CSS</h1>
        <p class="course__detail--item">Learn modern HTML5, CSS3 and web design
          by building a stunning website for your portfolio! Includes flexbox
          and CSS Grid</p>
        <div class="course__detail--teacher">
          Teacher
          <a href="#">Dollar Design School</a>
        </div>
        <div class="course__detail--btn">
          <a name="buy-btn" id="buy-btn" class="btn" href="#" role="button">Buy
            now
          </a>
          <a
            name="add-cart-btn"
            id="add-cart-btn"
            class="btn btn--bg"
            href="#"
            role="button"
          >
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
        </div>

      </div>
    </div>
    <div class="course">
      <div class="course__img">
        <img src="https://codingheroes.io/assets/img/C5.png" alt="" srcset="" />
        <div class="course__rate">
          <div class="course__rate--1">
            <h3>4987</h3>
            <span>Students</span>
          </div>
          <div class="course__rate--1">
            <h3>4987</h3>
            <span>Ratings</span>
          </div>
          <div class="course__rate--1">
            <h3>4.6 <i class="fas fa-star"></i></h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="course__detail">
        <h1 class="course__detail--name">Node.js, Express, MongoDB &amp; More:
          The Complete Bootcamp 2023</h1>
        <p class="course__detail--item">Master Node by building a real-world
          RESTful API and web app (with authentication, Node.js security,
          payments &amp; more)</p>
        <div class="course__detail--teacher">
          Teacher
          <a href="#">Dollar Design School</a>
        </div>
        <div class="course__detail--btn">
          <a name="buy-btn" id="buy-btn" class="btn" href="#" role="button">Buy
            now
          </a>
          <a
            name="add-cart-btn"
            id="add-cart-btn"
            class="btn btn--bg"
            href="#"
            role="button"
          >
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
        </div>

      </div>
    </div>
    <div class="course">
      <div class="course__img">
        <img src="https://codingheroes.io/assets/img/C3.png" alt="" srcset="" />
        <div class="course__rate">
          <div class="course__rate--1">
            <h3>4987</h3>
            <span>Students</span>
          </div>
          <div class="course__rate--1">
            <h3>4987</h3>
            <span>Ratings</span>
          </div>
          <div class="course__rate--1">
            <h3>4.6 <i class="fas fa-star"></i></h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="course__detail">
        <h1 class="course__detail--name">Javascript for Beginners</h1>
        <p class="course__detail--item">Learn javascript online and supercharge
          your web design with this Javascript for beginners training course.</p>
        <div class="course__detail--teacher">
          Teacher
          <a href="#">Dollar Design School</a>
        </div>
        <div class="course__detail--btn">
          <a name="buy-btn" id="buy-btn" class="btn" href="#" role="button">Buy
            now
          </a>
          <a
            name="add-cart-btn"
            id="add-cart-btn"
            class="btn btn--bg"
            href="#"
            role="button"
          >
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
        </div>

      </div>
    </div>
    <i role="img" class="slider__prev fas fa-chevron-left"></i>
    <i role="img" class="slider__next fas fa-chevron-right"></i>

    {{! <i class="slider__icon--prev fa-solid fa-chevron-left"></i>
    <i class="slider__icon--next fa-solid fa-chevron-right"></i> }}
  </div>
  <div class="navigation-mannual">
    <label for="radio1" class="mannual-btn"></label>
    <label for="radio2" class="mannual-btn"></label>
    <label for="radio3" class="mannual-btn"></label>
    <label for="radio4" class="mannual-btn"></label>
  </div>
</div>