{{#section "css"}}
  <link rel="stylesheet" href="/css/otp.css" />
{{/section}}
<div class="check"></div>
<div class="d-flex justify-content-center align-items-center continer">
  <div class="cardOtp py-5 px-3">
    <h3 class="m-0">Mobile phone verification</h3>
    <span class="mobile-text"><b>Enter the code we just sent on your email</b>
      <b class="text-color">********@gmail.com</b>
    </span>
    <div class="d-flex flex-row mt-5">
      <input type="text" class="form-control" autofocus="" />
      <input type="text" class="form-control" />
      <input type="text" class="form-control" />
      <input type="text" class="form-control" />
    </div>
    <div class="text-center mt-5">
      <span class="d-block mobile-text" id="countdown"></span>
      <span class="d-block mobile-text" id="resend"></span>
    </div>
  </div>
</div>