{{#section "css"}}
  <link rel="stylesheet" href="/css/requireLogin.css" />
{{/section}}

<div class="frame">
  <img
    href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvKrjX0uY-NI9oIT9jtdm_bIr65RNFaoZcew&usqp=CAU"
  />
  <i class="fa fa-exclamation-triangle icon" aria-hidden="true"></i>
  <div class="notification">
    Join my course
  </div>
  <div class="convertToSignUp">
    Please login to continue
  </div>
  <div class="frameBtn">
    <button class="loginBtn">Login</button>
    <button class="loginBtn">Back</button>
  </div>

  <div class="convertToSignUp">
    <a href="./signUp.hbs">Sign up </a>
    if you don't have any account
  </div>
</div>