<<<<<<< HEAD
{{!-- <head>
=======
{{#section "css"}}
  <link rel="stylesheet" href="/css/partials/pagination.css" />
>>>>>>> 238a34028f403ef8a33ec7d23d5978ceb3c9fb67
  <link rel="stylesheet" href="/css/courses.css" />
{{/section}}

<div class="courses__header">
  <h1 class="courses__title">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    4.310 results for "Javascript"
  </h1>
</div>

<div class="courses__tool">
  <div class="courses__sort">
    <h3 class="courses__sort__label">
      <i class="fa fa-sort mr-3" aria-hidden="true"></i>
      Sort by
    </h3>

    <div class="d-flex">
      <button type="button" class="btn mr-5">
        Newest
      </button>

      <button type="button" class="btn btn--active mr-5">
        Most reviewed
      </button>

      <button type="button" class="btn mr-5">
        Highest Rated
      </button>

      <div class="btn-group">
        <button
          class="btn btn--icon dropdown-toggle"
          type="button"
          data-toggle="dropdown"
        >
          Price
        </button>

        <div class="dropdown-menu sort-by__menu">
          <a class="dropdown-item" href="#">Ascending price</a>
          <a class="dropdown-item" href="#">Descending price</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="courses__body">
  <div class="course course--horizontal course--best-seller course--new">
    <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
      <span>bestseller</span>
    </div>
      <img
        class="course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

    <div class="course__body">
      <h4 class="course__title">Javascript for Beginners</h4>

      <ul class="course__category">
        <li class="course__category-item">
          <a href="#" class="course__category-link">Web Development</a>
        </li>
        <li class="course__category-item">
          <a href="#" class="course__category-link">Javascript</a>
        </li>
      </ul>

      <div class="course__detail">
        Learn Java In This Course And Become a Computer Programmer. Obtain
        valuable Core Java Skills And Java Certification Learn Java In This
        Course And Become a Computer Programmer. Obtain valuable Core Java
        Skills And Java Certification Learn Java In This Course And Become a
        Computer Programmer. Obtain valuable Core Java Skills And Java
        Certification Learn Java In This Course And Become a Computer
        Programmer. Obtain valuable Core Java Skills And Java Certification
      </div>

      <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

      <div class="course__review">
         <div class="course__review-score">
                 {{> barStart}}
                </div>

        <div class="course__review-number">(1,332)</div>
      </div>

      <ul class="course__info">
        <li class="course__info-item">5 total hours</li>
        <li class="course__info-item">3 lectures</li>
        <li class="course__info-item">Expert level</li>
      </ul>
    </div>

    <div class="course__footer">
      <div class="course__price">
        <h4 class="course__price-new">
          299.000
          <span class="course__price-unit">đ</span>
        </h4>
        <h4 class="course__price-old">
          499.000
          <span class="course__price-unit">đ</span>
        </h4>
      </div>

      <div class="course__buttons">
        <a
          name="add-cart-btn"
          id="add-cart-btn"
          class="btn btn--primary btn--icon"
          href="#"
          role="button"
        >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </a>

        <a
          name="buy-btn"
          id="buy-btn"
          class="btn btn--border"
          href="#"
          role="button"
        >Buy now</a>
      </div>
    </div>

    <div class="course__new-label">
      <span>news</span>
    </div>
  </div>

  <div class="course course--horizontal course--best-seller">
    <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
      <span>bestseller</span>
    </div>
      <img
        class="course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

    <div class="course__body">
      <h4 class="course__title">Javascript for Beginners</h4>

      <ul class="course__category">
        <li class="course__category-item">
          <a href="#" class="course__category-link">Web Development</a>
        </li>
        <li class="course__category-item">
          <a href="#" class="course__category-link">Javascript</a>
        </li>
      </ul>

      <div class="course__detail">
        Learn Java In This Course And Become a Computer Programmer. Obtain
        valuable Core Java Skills And Java Certification Learn Java In This
        Course And Become a Computer Programmer. Obtain valuable Core Java
        Skills And Java Certification Learn Java In This Course And Become a
        Computer Programmer. Obtain valuable Core Java Skills And Java
        Certification Learn Java In This Course And Become a Computer
        Programmer. Obtain valuable Core Java Skills And Java Certification
      </div>

      <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

      <div class="course__review">
        <div class="course__review-score">
          4.3
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half" aria-hidden="true"></i>
        </div>

        <div class="course__review-number">(1,332)</div>
      </div>

      <ul class="course__info">
        <li class="course__info-item">5 total hours</li>
        <li class="course__info-item">3 lectures</li>
        <li class="course__info-item">Expert level</li>
      </ul>
    </div>

    <div class="course__footer">
      <div class="course__price">
        <h4 class="course__price-new">
          299.000
          <span class="course__price-unit">đ</span>
        </h4>
        <h4 class="course__price-old">
          499.000
          <span class="course__price-unit">đ</span>
        </h4>
      </div>

      <div class="course__buttons">
        <a
          name="add-cart-btn"
          id="add-cart-btn"
          class="btn btn--primary btn--icon"
          href="#"
          role="button"
        >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </a>

        <a
          name="buy-btn"
          id="buy-btn"
          class="btn btn--border"
          href="#"
          role="button"
        >Buy now</a>
      </div>
    </div>

    <div class="course__new-label">
      <span>news</span>
    </div>
  </div>

   <div class="course course--horizontal course--new">
    <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
      <span>bestseller</span>
    </div>
      <img
        class="course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

    <div class="course__body">
      <h4 class="course__title">Javascript for Beginners</h4>

      <ul class="course__category">
        <li class="course__category-item">
          <a href="#" class="course__category-link">Web Development</a>
        </li>
        <li class="course__category-item">
          <a href="#" class="course__category-link">Javascript</a>
        </li>
      </ul>

      <div class="course__detail">
        Learn Java In This Course And Become a Computer Programmer. Obtain
        valuable Core Java Skills And Java Certification Learn Java In This
        Course And Become a Computer Programmer. Obtain valuable Core Java
        Skills And Java Certification Learn Java In This Course And Become a
        Computer Programmer. Obtain valuable Core Java Skills And Java
        Certification Learn Java In This Course And Become a Computer
        Programmer. Obtain valuable Core Java Skills And Java Certification
      </div>

      <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

      <div class="course__review">
        <div class="course__review-score">
          4.3
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half" aria-hidden="true"></i>
        </div>

        <div class="course__review-number">(1,332)</div>
      </div>

      <ul class="course__info">
        <li class="course__info-item">5 total hours</li>
        <li class="course__info-item">3 lectures</li>
        <li class="course__info-item">Expert level</li>
      </ul>
    </div>

    <div class="course__footer">
      <div class="course__price">
        <h4 class="course__price-new">
          299.000
          <span class="course__price-unit">đ</span>
        </h4>
        <h4 class="course__price-old">
          499.000
          <span class="course__price-unit">đ</span>
        </h4>
      </div>

      <div class="course__buttons">
        <a
          name="add-cart-btn"
          id="add-cart-btn"
          class="btn btn--primary btn--icon"
          href="#"
          role="button"
        >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </a>

        <a
          name="buy-btn"
          id="buy-btn"
          class="btn btn--border"
          href="#"
          role="button"
        >Buy now</a>
      </div>
    </div>

    <div class="course__new-label">
      <span>news</span>
    </div>
  </div>

   <div class="course course--horizontal">
    <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
      <span>bestseller</span>
    </div>
      <img
        class="course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

    <div class="course__body">
      <h4 class="course__title">Javascript for Beginners</h4>

      <ul class="course__category">
        <li class="course__category-item">
          <a href="#" class="course__category-link">Web Development</a>
        </li>
        <li class="course__category-item">
          <a href="#" class="course__category-link">Javascript</a>
        </li>
      </ul>

      <div class="course__detail">
        Learn Java In This Course And Become a Computer Programmer. Obtain
        valuable Core Java Skills And Java Certification Learn Java In This
        Course And Become a Computer Programmer. Obtain valuable Core Java
        Skills And Java Certification Learn Java In This Course And Become a
        Computer Programmer. Obtain valuable Core Java Skills And Java
        Certification Learn Java In This Course And Become a Computer
        Programmer. Obtain valuable Core Java Skills And Java Certification
      </div>

      <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

      <div class="course__review">
        <div class="course__review-score">
          4.3
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half" aria-hidden="true"></i>
        </div>

        <div class="course__review-number">(1,332)</div>
      </div>

      <ul class="course__info">
        <li class="course__info-item">5 total hours</li>
        <li class="course__info-item">3 lectures</li>
        <li class="course__info-item">Expert level</li>
      </ul>
    </div>

    <div class="course__footer">
      <div class="course__price">
        <h4 class="course__price-new">
          299.000
          <span class="course__price-unit">đ</span>
        </h4>
        <h4 class="course__price-old">
          499.000
          <span class="course__price-unit">đ</span>
        </h4>
      </div>

      <div class="course__buttons">
        <a
          name="add-cart-btn"
          id="add-cart-btn"
          class="btn btn--primary btn--icon"
          href="#"
          role="button"
        >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </a>

        <a
          name="buy-btn"
          id="buy-btn"
          class="btn btn--border"
          href="#"
          role="button"
        >Buy now</a>
      </div>
    </div>

    <div class="course__new-label">
      <span>news</span>
    </div>
  </div>

   <div class="course course--horizontal">
    <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
      <span>bestseller</span>
    </div>
      <img
        class="course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

    <div class="course__body">
      <h4 class="course__title">Javascript for Beginners</h4>

      <ul class="course__category">
        <li class="course__category-item">
          <a href="#" class="course__category-link">Web Development</a>
        </li>
        <li class="course__category-item">
          <a href="#" class="course__category-link">Javascript</a>
        </li>
      </ul>

      <div class="course__detail">
        Learn Java In This Course And Become a Computer Programmer. Obtain
        valuable Core Java Skills And Java Certification Learn Java In This
        Course And Become a Computer Programmer. Obtain valuable Core Java
        Skills And Java Certification Learn Java In This Course And Become a
        Computer Programmer. Obtain valuable Core Java Skills And Java
        Certification Learn Java In This Course And Become a Computer
        Programmer. Obtain valuable Core Java Skills And Java Certification
      </div>

      <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

      <div class="course__review">
        <div class="course__review-score">
          4.3
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half" aria-hidden="true"></i>
        </div>

        <div class="course__review-number">(1,332)</div>
      </div>

      <ul class="course__info">
        <li class="course__info-item">5 total hours</li>
        <li class="course__info-item">3 lectures</li>
        <li class="course__info-item">Expert level</li>
      </ul>
    </div>

    <div class="course__footer">
      <div class="course__price">
        <h4 class="course__price-new">
          299.000
          <span class="course__price-unit">đ</span>
        </h4>
        <h4 class="course__price-old">
          499.000
          <span class="course__price-unit">đ</span>
        </h4>
      </div>

      <div class="course__buttons">
        <a
          name="add-cart-btn"
          id="add-cart-btn"
          class="btn btn--primary btn--icon"
          href="#"
          role="button"
        >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </a>

        <a
          name="buy-btn"
          id="buy-btn"
          class="btn btn--border"
          href="#"
          role="button"
        >Buy now</a>
      </div>
    </div>

    <div class="course__new-label">
      <span>news</span>
    </div>
  </div>

   <div class="course course--horizontal">
    <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
      <span>bestseller</span>
    </div>
      <img
        class="course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

    <div class="course__body">
      <h4 class="course__title">Javascript for Beginners</h4>

      <ul class="course__category">
        <li class="course__category-item">
          <a href="#" class="course__category-link">Web Development</a>
        </li>
        <li class="course__category-item">
          <a href="#" class="course__category-link">Javascript</a>
        </li>
      </ul>

      <div class="course__detail">
        Learn Java In This Course And Become a Computer Programmer. Obtain
        valuable Core Java Skills And Java Certification Learn Java In This
        Course And Become a Computer Programmer. Obtain valuable Core Java
        Skills And Java Certification Learn Java In This Course And Become a
        Computer Programmer. Obtain valuable Core Java Skills And Java
        Certification Learn Java In This Course And Become a Computer
        Programmer. Obtain valuable Core Java Skills And Java Certification
      </div>

      <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

      <div class="course__review">
        <div class="course__review-score">
          4.3
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half" aria-hidden="true"></i>
        </div>

        <div class="course__review-number">(1,332)</div>
      </div>

      <ul class="course__info">
        <li class="course__info-item">5 total hours</li>
        <li class="course__info-item">3 lectures</li>
        <li class="course__info-item">Expert level</li>
      </ul>
    </div>

    <div class="course__footer">
      <div class="course__price">
        <h4 class="course__price-new">
          299.000
          <span class="course__price-unit">đ</span>
        </h4>
        <h4 class="course__price-old">
          499.000
          <span class="course__price-unit">đ</span>
        </h4>
      </div>

      <div class="course__buttons">
        <a
          name="add-cart-btn"
          id="add-cart-btn"
          class="btn btn--primary btn--icon"
          href="#"
          role="button"
        >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </a>

        <a
          name="buy-btn"
          id="buy-btn"
          class="btn btn--border"
          href="#"
          role="button"
        >Buy now</a>
      </div>
    </div>

    <div class="course__new-label">
      <span>news</span>
    </div>
  </div>

   <div class="course course--horizontal">
    <a href="/courses/courseDetail" class="course__link"></a>

    <figure>
      <div class="course__best-seller-label">
      <span>bestseller</span>
    </div>
      <img
        class="course__img"
        src="https://img-c.udemycdn.com/course/240x135/14346_9972_8.jpg"
        alt="Ảnh đại diện khóa học"
      />
    </figure>

    <div class="course__body">
      <h4 class="course__title">Javascript for Beginners</h4>

      <ul class="course__category">
        <li class="course__category-item">
          <a href="#" class="course__category-link">Web Development</a>
        </li>
        <li class="course__category-item">
          <a href="#" class="course__category-link">Javascript</a>
        </li>
      </ul>

      <div class="course__detail">
        Learn Java In This Course And Become a Computer Programmer. Obtain
        valuable Core Java Skills And Java Certification Learn Java In This
        Course And Become a Computer Programmer. Obtain valuable Core Java
        Skills And Java Certification Learn Java In This Course And Become a
        Computer Programmer. Obtain valuable Core Java Skills And Java
        Certification Learn Java In This Course And Become a Computer
        Programmer. Obtain valuable Core Java Skills And Java Certification
      </div>

      <div class="course__teacher">
        <a href="#" class="course__teacher__link">Dollar Design School</a>
      </div>

      <div class="course__review">
        <div class="course__review-score">
          4.3
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half" aria-hidden="true"></i>
        </div>

        <div class="course__review-number">(1,332)</div>
      </div>

      <ul class="course__info">
        <li class="course__info-item">5 total hours</li>
        <li class="course__info-item">3 lectures</li>
        <li class="course__info-item">Expert level</li>
      </ul>
    </div>

    <div class="course__footer">
      <div class="course__price">
        <h4 class="course__price-new">
          299.000
          <span class="course__price-unit">đ</span>
        </h4>
        <h4 class="course__price-old">
          499.000
          <span class="course__price-unit">đ</span>
        </h4>
      </div>

      <div class="course__buttons">
        <a
          name="add-cart-btn"
          id="add-cart-btn"
          class="btn btn--primary btn--icon"
          href="#"
          role="button"
        >
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </a>

        <a
          name="buy-btn"
          id="buy-btn"
          class="btn btn--border"
          href="#"
          role="button"
        >Buy now</a>
      </div>
    </div>

    <div class="course__new-label">
      <span>news</span>
    </div>
  </div>
</div>

<<<<<<< HEAD
  {{! </div }}
  {{! </div> }}
</body> --}}
=======
<div class="courses__pagination">
  {{> pagination}}
</div>
>>>>>>> 238a34028f403ef8a33ec7d23d5978ceb3c9fb67
