{{#section "css"}}
  <link rel="stylesheet" href="/css/signUp.css" />
{{/section}}

<div>
  <div class="login">
    <div class="video-container">
      <video
        autoplay="true"
        playsinline="true"
        muted="true"
        loop="true"
        data-video-player-target="player"
        class="plyr__video"
      >
        <source
          src="https://static.vecteezy.com/system/resources/previews/014/195/483/mp4/glowing-colorful-neon-digital-geometric-shapes-abstract-digital-geometric-shape-moving-on-black-background-high-tech-shapes-background-geometric-high-tech-loop-animation-dynamic-shape-background-free-video.mp4"
          type="video/mp4"
        />
        <source
          src="https://static.vecteezy.com/system/resources/previews/014/195/483/glowing-colorful-neon-digital-geometric-shapes-abstract-digital-geometric-shape-moving-on-black-background-high-tech-shapes-background-geometric-high-tech-loop-animation-dynamic-shape-background-free-video.webm"
          type="video/webm"
        />
      </video>
    </div>
    <div class="overlay1"></div>

    <div class="form row">
      <form method="post" action="signup" class="formSignUp col-lg-7 col-sm-0">
        <p class="formSignUp__mainTitle">Sign up to SunLight</p>
        <span class="formSignUp__subTitle">SunLight is much better when you have
          an account
          <div>Get yourself one</div>
        </span>
        <div class="formSignUp__user-name">
          <i class="fas fa-user formSignUp__icon"></i>
          <input
            type="text"
            placeholder="User name"
            class="formSignUp__user-name__input"
            name="name"
            autofocus
          />
          {{#if err_message_name}}
          <p class="required-name">
            <i class="fas fa-exclamation-circle required-icon"></i>
          {{err_message_name}}
          </p>
          {{/if}} 
          <p class="required-name "></p>
        </div>

        <div class="formSignUp__user-email">
          <i class="fas fa-envelope formSignUp__icon"></i>
          <input
            type="text"
            placeholder="Email"
            class="formSignUp__user-email__input"
            name="email"
            autofocus
          />
            {{#if err_message_email}}
          <p class="required-email"><i
              class="fas fa-exclamation-circle required-icon"
            ></i>
            {{err_message_email}}</p>{{/if}} 
          <p class="required-email "></p>

        </div>

        <div class="formSignUp__user-pass">
          <i class="fas fa-lock formSignUp__icon"></i>
          <input
            type="password"
            placeholder="Password"
            class="formSignUp__user-pass__input"
            name="password"
            autofocus
          />
          <p class="required-pass "></p>

        </div>
        <div class="formSignUp__user-repeatPass">
          <i class="fas fa-lock formSignUp__icon"></i>
          <input
            type="password"
            placeholder="Confirm Password"
            class="formSignUp__user-repeatPass__input"
            name="repeatPassword"
            autofocus
          />
          <p class="required-repeatPass "></p>

        </div>
        <button type="submit" class="py-3 px-1 formSignUp__btn ripple" onclick="swal({'title: Request Delivered,text: You can continue with your search.,type: success})">Create Account
          <i class="fas fa-arrow-right formSignUp__icon-arrow"></i>
        </button>
      </form>

    </div>

  </div>
</div>

{{#section "js"}}
  <script src="/js/signUp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>
{{/section}}