
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses Online</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/global/base.css">
  <link rel="stylesheet" href="/css/partials/header.css">
  <link rel="stylesheet" href="/css/layouts/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="/css/signUp.css" />


</head>

<body>
  <header class="header">{{> header}}</header>

  <div class="container-fluid">
    <div class="row margin">
      <div class="content">
        <div>
          <div class="login">
            <div class="video-container">
              <video autoplay="true" playsinline="true" muted="true" loop="true" data-video-player-target="player"
                class="plyr__video">
                <source
                  src="https://static.vecteezy.com/system/resources/previews/014/195/483/mp4/glowing-colorful-neon-digital-geometric-shapes-abstract-digital-geometric-shape-moving-on-black-background-high-tech-shapes-background-geometric-high-tech-loop-animation-dynamic-shape-background-free-video.mp4"
                  type="video/mp4" />
                <source
                  src="https://static.vecteezy.com/system/resources/previews/014/195/483/glowing-colorful-neon-digital-geometric-shapes-abstract-digital-geometric-shape-moving-on-black-background-high-tech-shapes-background-geometric-high-tech-loop-animation-dynamic-shape-background-free-video.webm"
                  type="video/webm" />
              </video>
            </div>
            <div class="overlay1"></div>

            <div class="form row">
              <form method="post" action="signup" class="formSignUp col-lg-7 col-sm-0">
                <p class="formSignUp__mainTitle">Sign up to SunLight</p>
                <span class="formSignUp__subTitle">SunLight is much better when you have
                  an account
                  <div>Get yourself one</div>
                </span>
                <div class="formSignUp__user-name">
                  <i class="fas fa-user formSignUp__icon"></i>
                  <input type="text" placeholder="User name" class="formSignUp__user-name__input" name="name"
                    autofocus />
                  {{#if err_message_name}}
                  <p class="required-name">
                    <i class="fas fa-exclamation-circle required-icon"></i>
                    {{err_message_name}}
                  </p>
                  {{/if}}
                  <p class="required-name "></p>
                </div>

                <div class="formSignUp__user-email">
                  <i class="fas fa-envelope formSignUp__icon"></i>
                  <input type="text" placeholder="Email" class="formSignUp__user-email__input" name="email" autofocus />
                  {{#if err_message_email}}
                  <p class="required-email"><i class="fas fa-exclamation-circle required-icon"></i>
                    {{err_message_email}}</p>{{/if}}
                  <p class="required-email "></p>

                </div>

                <div class="formSignUp__user-pass">
                  <i class="fas fa-lock formSignUp__icon"></i>
                  <input type="password" placeholder="Password" class="formSignUp__user-pass__input" name="password"
                    autofocus />
                  <p class="required-pass "></p>

                </div>
                <div class="formSignUp__user-repeatPass">
                  <i class="fas fa-lock formSignUp__icon"></i>
                  <input type="password" placeholder="Confirm Password" class="formSignUp__user-repeatPass__input"
                    name="repeatPassword" autofocus />
                  <p class="required-repeatPass "></p>

                </div>
                <button type="submit" class="py-3 px-1 formSignUp__btn ripple"
                  onclick="swal({'title: Request Delivered,text: You can continue with your search.,type: success})">Create
                  Account
                  <i class="fas fa-arrow-right formSignUp__icon-arrow"></i>
                </button>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/js/search.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $(function () { $('[data-toggle="tooltip"]').tooltip() })
  </script>
  <script src="/js/signUp.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>

</body>

</html>