.admin__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px; }
  .admin__header .admin__title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0; }

.admin__container {
  display: flex;
  justify-content: center; }

.admin__form {
  font-size: 1.6rem;
  width: 360px;
  min-height: 100px;
  padding: 12px 24px;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff; }
  .admin__form .form-group {
    margin-bottom: 16px; }
    .admin__form .form-group.invalid label,
    .admin__form .form-group.invalid .form-message {
      color: #fe4343; }
    .admin__form .form-group.invalid input {
      border-color: #fe4343; }
  .admin__form .form-message {
    font-size: 1.4rem;
    padding-left: 4px; }
  .admin__form select {
    padding: 8px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: #101010; }
  .admin__form label {
    font-size: 1.8rem;
    font-weight: 600; }
  .admin__form input {
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 1.6rem;
    color: #101010;
    outline: none; }
    .admin__form input:focus {
      outline: none !important;
      color: #101010; }
  .admin__form .btn {
    margin-top: 8px;
    width: 100%;
    padding: 6px; }

.table.table--courses td:nth-child(1) {
  text-align: center;
  width: 50px; }

.table.table--categories th:nth-child(1),
.table.table--categories td:nth-child(1),
.table.table--categories th:nth-child(2),
.table.table--categories td:nth-child(2),
.table.table--categories th:nth-child(4),
.table.table--categories td:nth-child(4) {
  width: 50px;
  text-align: center; }
