.category__heading {
  margin: 0;
  padding: 11px 20px;
  font-size: 2rem;
  font-weight: 500;
  color: #101010;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
  .category__heading .category__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
    transform: translateY(2px); }

.category-list {
  margin: 0;
  padding: 4px 20px;
  list-style: none; }

.category-item {
  padding: 6px 8px; }
  .category-item.category-item--active .category-item__link {
    color: #0000ee; }
  .category-item.category-item--active .category-item__link:hover {
    transform: none;
    text-decoration: none;
    cursor: default; }
  .category-item.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    border: 4px solid transparent;
    border-left-color: #0000ee;
    transform: translateY(calc(-50% + 1px)); }

.category-item--l1 + .category-item--l1 {
  border-top: 1px solid rgba(0, 0, 0, 0.4); }

.category-item--l2 + .category-item--l2 {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.category-item__link {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  color: #101010;
  transition: transform ease-in 0.1s;
  will-change: transform; }
  .category-item__link.category-item__link--l1 {
    font-size: 1.6rem;
    font-weight: 500; }
  .category-item__link:hover {
    transform: translateX(2px);
    color: #0000ee; }
