.courses {
  transition: 0.2s ease; }

.courses:hover {
  transform: translateX(-1px) translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer; }

.courses__title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #101010;
  margin: 0 0 0.6rem 0; }

.courses__category {
  font-size: 1.2rem;
  list-style: none;
  margin: 0 0 0.8rem 0;
  padding: 0;
  display: flex; }
  .courses__category .courses__category-item::before {
    content: '>';
    margin-left: 1rem; }
  .courses__category .courses__category-link {
    text-decoration: none;
    color: #101010; }
  .courses__category .courses__category-item:hover .courses__category-link {
    color: #f8d752; }

.courses__teacher {
  font-size: 1.6rem;
  font-weight: 500;
  color: #555;
  margin: 0; }

.courses__review {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #e59819; }
  .courses__review .courses__review-number {
    font-weight: 400;
    margin-left: 1.4rem;
    color: #555; }

.courses__price {
  display: flex;
  align-items: center; }
  .courses__price .courses__price-unit {
    font-size: 1.6rem;
    text-decoration: underline; }
  .courses__price .courses__price-new {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 700;
    color: #101010; }
  .courses__price .courses__price-old {
    display: flex;
    align-items: center;
    text-decoration: line-through;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 1.4rem;
    color: #555; }
