.body {
  width: 65%;
  position: relative; }

.intro {
  background-color: black;
  color: white;
  width: 100vw;
  padding-top: 20px; }

.intro-link {
  color: #cdc1fd;
  margin-right: 1rem;
  margin-left: 1rem; }

.intro-link:hover {
  color: #cdc1fd; }

.intro-name {
  font-size: 3.3rem;
  font-weight: bold;
  margin-left: 5rem; }

.intro-item {
  margin-left: 5rem;
  margin-top: 1rem; }

.intro .courses__category {
  font-size: 1.2rem;
  list-style: none;
  margin-left: 5rem;
  padding-top: 6rem;
  padding: 0;
  display: flex; }

.courses__category .courses__category-item::before {
  content: '>'; }

.courses__category .courses__category-link {
  text-decoration: none;
  margin-right: 1rem;
  color: #cdc1fd; }

.courses__category .courses__category-item:hover .courses__category-link {
  color: #f8d752; }

.intro .courses__review {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0;
  margin-top: 3rem;
  margin-left: 5rem; }

.courses__review .courses__review-number {
  font-weight: 400;
  margin-left: 1.4rem;
  color: #555; }

.courses__review .courses__review-ratings {
  color: #e59819; }

.intro .courses__teacher {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  margin-left: 5rem;
  /* align-items: center; */
  display: flex; }

.courses__teacher .courses_teacher-link {
  font-size: 1.7rem;
  margin-right: 1.2rem;
  margin-left: 1rem;
  color: white; }

.intro .footer_intro {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  position: relative;
  margin-left: 5rem; }

.footer_intro .footer_intro-item {
  /* margin-right: 2rem;
            margin-top: 1rem;
            padding-bottom: 3rem; */
  margin: 1rem 2rem 3rem 0rem; }

.WhatWillLearn {
  margin-top: 3rem;
  border: 0.2rem solid black; }

.table thead th,
.table td,
.table th {
  border: none; }

.description {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.6rem; }

.description-item {
  font-size: 1.4rem; }

.buying_information {
  height: 600px;
  width: 380px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px 2px;
  background-color: #efe8e8;
  position: absolute;
  top: 120px;
  right: 40px; }
  .buying_information .buying_information-price {
    font-size: 4rem;
    font-weight: bold;
    margin-left: 3rem; }

.buying_information .buying_information-button {
  width: 90%;
  height: 5rem;
  font-size: 2rem;
  justify-content: center;
  font-weight: bold;
  color: white;
  background-color: #9d3af2;
  border-color: #9d3af2; }

.buying_information .buying_information-button:hover {
  background-color: #7c28dc;
  border-color: #7c28dc; }
