.login {
  overflow: hidden;
  margin-right: 6rem; }
  .login .form-login {
    display: flex;
    height: 90%;
    margin: 7rem 9rem;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 80%;
    padding: 4rem; }
    .login .form-login__title {
      font-size: 6rem;
      font-weight: 700;
      margin-bottom: -1rem;
      border: white; }
    .login .form-login__user-name__input, .login .form-login__user-pass__input {
      margin-bottom: 0.5rem;
      padding: 1rem;
      border-radius: 1.5rem;
      width: 50%;
      text-align: center; }
    .login .form-login__btn {
      margin-top: 1rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      color: #000;
      text-transform: uppercase;
      background: linear-gradient(135deg, #f8d752 35%, #ff0030 100%);
      border-radius: 1rem;
      transform: translate(38%, 0);
      border: transparent; }
    .login .form-login__icon {
      color: #b3aa99;
      min-width: 50px;
      padding: 13px;
      text-align: center;
      position: absolute; }
  .login .video-container .plyr__video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1; }
