body {
  background: linear-gradient(191deg, rgba(255, 192, 67, 0) 5.02%, rgba(255, 192, 67, 0.5) 94.1%);
  background-size: cover; }

.card {
  border-radius: 0.8rem;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75); }
  .card-body {
    font-size: 1.5rem; }

.flex-card {
  display: flex;
  justify-content: space-between; }

img {
  border: 2px solid linear-gradient(324deg, #f8d752 0%, #22c1c3 50% !important); }

.Edit {
  margin-left: 2rem; }
  .Edit:hover, .Edit:active {
    margin-top: 0.5rem;
    cursor: pointer; }

#edit {
  bottom: 0 !important; }

.titleTransition {
  position: relative;
  display: inline-block;
  overflow: hidden; }
  .titleTransitionLove::before {
    position: absolute;
    content: attr(data-content);
    /* Prints the value of the attribute */
    color: #f84c5e;
    text-decoration: underline;
    overflow: hidden;
    transition: width 275ms ease;
    width: 0;
    white-space: nowrap; }
  .titleTransition::before {
    position: absolute;
    content: attr(data-content);
    /* Prints the value of the attribute */
    color: #6e4616;
    text-decoration: underline;
    overflow: hidden;
    transition: width 275ms ease;
    width: 0;
    white-space: nowrap; }
  .titleTransitionLove:hover::before {
    width: 100%; }
  .titleTransition:hover::before {
    width: 100%; }

.slider {
  -webkit-scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-points-x: repeat(300px);
  scroll-snap-points-x: repeat(300px);
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 37rem;
  height: 43.1rem; }

.slides > div:target {
  transform: scale(0.8); }

.carousel-item__img img {
  width: 13rem;
  height: 9rem;
  margin-right: 0.8rem; }

.carousel-item__detail--name {
  font-size: 1.7rem;
  font-weight: 700; }

.carousel-item__detail--teacher {
  font-size: 1.2rem; }

input {
  border: none; }

.btnEdit {
  padding: 0.5rem 5rem; }
