body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #ef6d91,
    #ff7877,
    #ff8c5a,
    #ffa53f,
    #f0bb36,
    #dccf3a,
    #c2e34d,
    #9cee7a,
    #78f5a7,
    #5ff9d0,
    #5ffbf1
  );
  background-attachment: fixed;
  background-size: cover;
}

hr {
  margin-bottom: 0;
  color: #b3aa99;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4.5rem;
  margin-left: 4rem;
  color: #1b3d2f;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 14rem;
}

.profile__infor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45rem;
  border: 0.3rem solid white;
  background-color: whitesmoke;
  border-radius: 1.6rem;
  padding: 2rem 2rem;
  margin: 5rem auto;
  background-position: 0 0, 0 100%;
  margin-right: 3.2rem;
  box-shadow: 0.2rem 0.2rem 1.6rem 0.5rem rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0.2rem 0.2rem 1.6rem 0.5rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.2rem 0.2rem 1.6rem 0.5rem rgba(0, 0, 0, 0.75);
}

.profile__infor--notice__title {
  font-weight: 700;
  font-size: 3.2rem;
  margin: 0.5rem;
}

.profile__infor--notice__text1 {
  font-weight: 500;
  font-size: 1.92rem;
  margin-left: 0.5rem;
}

.profile__infor--showName {
  font-weight: 700;
  font-size: 3.2rem;
  margin: 0.16rem;
}

.profile__infor--showName__input {
  font-weight: 500;
  font-size: 1.92rem;
  margin-top: 0.64rem;
}

.profile__infor--showEmail {
  font-weight: 700;
  font-size: 3.2rem;
  margin: 0.16rem;
}

.profile__infor--showEmail__input {
  font-weight: 500;
  font-size: 1.92rem;
  margin-top: 0.64rem;
}

.profile__infor--chagePass__main p {
  font-weight: 700;
  font-size: 3.2rem;
  margin: 0.8rem;
}

.profile__infor--chagePass__main input {
  padding: 0.8rem;
  font-size: 1.92rem;
  margin-top: 1.8rem;
  margin-left: 0.8rem;
  border-radius: 0.96rem;
  float: left;
}

.profile__infor--del {
  text-align: center;
}

.profile__infor--del__btn {
  background: #000;
  border: 0.1rem solid transparent;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0.1rem 0.2rem 0.4rem;
  box-sizing: border-box;
  color: #f8cd0d !important;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.6rem;
  padding: 1.2rem 1.4rem;
  margin-top: 3.2rem;
  text-align: center;
  vertical-align: middle;
}

.profile__infor--del__btn:hover,
.profile__infor--del__btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #f8cd0d !important;
  border: 0.1rem solid #f8cd0d;
}

.profile__infor--del__btn:active {
  opacity: 0.5;
}

.profile__infor--chagePass__btn {
  background-color: #222;
  font-weight: 400;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 0.9rem 0.8rem 0.8rem;
  position: relative;
  text-align: center;
  width: 20%;
  float: right;
  margin-top: 2.2rem;
}

.profile__infor--chagePass__btn:hover,
.profile__infor--chagePass__btn:focus {
  opacity: 0.75;
}

.profile__infor--showName__field {
  display: flex;
  justify-content: space-between;
}

.profile__infor--showName__field i {
  font-size: 2.4rem;
  margin-top: 0.16rem;
}

.profile__infor--showEmail__field {
  display: flex;
  justify-content: space-between;
}

.profile__infor--showEmail__field i {
  font-size: 2.4rem;
  margin-top: 0.16rem;
}

.profile__photo {
  display: inline-block;
  margin-top: 4.8rem;
  width: 48rem;
  height: 40%;
  margin-right: 17.6rem;
  border-radius: 1.6rem;
  border: 0.3rem solid white;
  background-color: whitesmoke;
  background-size: 16rem;
  box-shadow: 0.2rem 0.2rem 1.6rem 0.5rem rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0.2rem 0.2rem 1.6rem 0.5rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.2rem 0.2rem 1.6rem 0.5rem rgba(0, 0, 0, 0.75);
}

.profile__photo-title {
  font-weight: 700;
  font-size: 3.2rem;
  margin-top: 3.2rem;
  margin-left: 3.2rem;
}

.avatar {
  vertical-align: middle;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profile__photo--upload {
  background-color: #262628;
  font-size: 1.5rem;
  padding: 1.28rem;
  margin-top: 3.2rem;
  color: #fff;
  display: inline-block;
  border-radius: 3.2rem;
  margin-left: 13rem;
  text-align: center;
  text-transform: uppercase;
}

.profile__photo--upload i {
  font-size: 2.4rem;
  float: left;
  margin-right: 1.6rem;
}

.profile__photo--upload:hover {
  opacity: 0.7;
}
