body {
  height: 100%; }

.breadcrumb {
  font-size: larger; }

.card {
  border-radius: 0.8rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
  .card-body {
    font-size: 1.5rem; }

.flex-card {
  display: flex;
  justify-content: space-between; }

.edit:hover, .edit:active {
  transform: scaleY(1.5); }

.titleTransition {
  position: relative;
  display: inline-block;
  overflow: hidden; }
  .titleTransitionLove::before {
    position: absolute;
    content: attr(data-content);
    /* Prints the value of the attribute */
    color: #f84c5e;
    text-decoration: underline;
    overflow: hidden;
    transition: width 275ms ease;
    width: 0;
    white-space: nowrap; }
  .titleTransition::before {
    position: absolute;
    content: attr(data-content);
    /* Prints the value of the attribute */
    color: #6e4616;
    text-decoration: underline;
    overflow: hidden;
    transition: width 275ms ease;
    width: 0;
    white-space: nowrap; }
  .titleTransitionLove:hover::before {
    width: 100%; }
  .titleTransition:hover::before {
    width: 100%; }

.slider {
  -webkit-scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-points-x: repeat(300px);
  scroll-snap-points-x: repeat(300px);
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; }

.slides > div:target {
  transform: scale(0.8); }

.carousel-item__img img {
  width: 10rem;
  height: 8rem;
  margin-right: 0.3rem; }

.carousel-item__detail--name {
  font-size: 1.8rem; }
