<div class="stars">
  <span>4.3</span>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <div class="overlay--star" style="width: 30%;"></div>
</div>