<span class="mr-2">{{rated}} </span>
<div class="stars">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <div class="overlay--star" style="width: calc(100% - {{rated}}/5*100%)"></div>
</div>