<head>
  <link rel="stylesheet" href="/css/categoryBar.css" />
</head>

<body>
  <nav class="category">
    <h3 class="category__heading">
      <i class="category__heading-icon fa-solid fa-list"></i>
      Danh mục
    </h3>
    <ul class="category-list">
      <li class="category-item category-item--active">
        <a href="" class="category-item__link">Phụ kiện máy tính</a>
      </li>
      <li class="category-item">
        <a href="" class="category-item__link">Thiết bị điện tử</a>
      </li>
      <li class="category-item">
        <a href="" class="category-item__link">Máy tính & Laptop</a>
      </li>
    </ul>
  </nav>
</body>