<!-- Footer -->
<footer
  class="text-center text-lg-start text-muted pt-2"
  style="background-color: #222;"
>

  <!-- Section: Links  -->
  <section class="footer" style="color: whitesmoke;">
    <div class="container text-left text-md-start mt-5">
      <!-- Grid row -->
      <div class="row pt-3 ml-5">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 ml-5 mb-4">
          <!-- Content -->
          <p class="text-uppercase fw-bold mb-5 titleFooter">

            Sun Light
          </p>
          <p>
            We are very proud to announce that sice 2002 we are spending
            awesomness to our community and we have helped a lot people to shape
            their better future and life! I hope we are doing best we can.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ml-0">
          <!-- Links -->
          <p class="text-uppercase fw-bold mb-5 titleFooter">
            Office Hours
          </p>
          <p>
            Monday:08:00-17:00
          </p>
          <p>
            Tuesday:08:00-17:00
          </p>
          <p>
            Wendnesday:08:00-17:00
          </p>
          <p>
            Friday:08:00-17:00
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        {{! <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <p class="text-uppercase fw-bold mb-4">
            Useful links
          </p>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div> }}
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-3 mb-md-0 mb-4">
          <!-- Links -->
          <p class="text-uppercase fw-bold mb-5 titleFooter">Contact</p>
          <p><i class="fas fa-home me-3"></i>
            VietNam, 225 NGUYEN VAN CU, DIS 5, HCMC</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            sunlightacademy225@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>
            (08) 62884499</p>
          <p><i class="fas fa-print me-3"></i>
            04. 38583061</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Jan:
    <a class="text-reset fw-bold">SUNLIGHT.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->