<a href="/" class="logo">
  <img
    src="https://previews.123rf.com/images/captainvector/captainvector1703/captainvector170309493/74165387-academy-logo-element.jpg"
    alt="trillo logo"
    class="logo--img"
  />
  <span class="text-primary__sun">SUN</span>
  <span class="text-primary__light">LIGHT</span>
</a>

<form action="/courses/search" class="search">
  <input
    type="text"
    class="search__input"
    placeholder="Search course"
    name="keyword"
  />
  <button class="search__button">
    <i class="fas fa-search search__icon"></i>
  </button>
</form>
<nav class="user-nav">
  {{#if lcIsAuthenticated}}
  <div class="user-nav__icon-box">
    <svg class="user-nav__icon">
      <use xlink:href="img/sprite.svg#icon-bookmark"></use>
    </svg>
    <span class="user-nav__notification">7</span>
  </div>
  <div class="user-nav__icon-box">
    <svg class="user-nav__icon">
      <use xlink:href="img/sprite.svg#icon-chat"></use>
    </svg>
    <span class="user-nav__notification">13</span>
  </div>
  <div class="user-nav__user">
    <img src="img/user.jpg" alt="User photo" class="user-nav__user-photo" />
    <span class="user-nav__user-name">{{lcAuthUser.name}}</span>
  </div> 
  {{else}}
   <div class="user-nav__acc">
    <a class="btn btn--border user-nav__link" href="/login" role="button">
      <i class="fas fa-sign-in-alt mr-3"></i>
      Login</a>
  </div>
  <div class="user-nav__acc">
    <a class="btn btn--primary user-nav__link" href="/signup" role="button">
      <i class="fas fa-user-plus mr-3"></i>
      Sign up</a>
  </div>
  {{/if}}
</nav>
