<img
  src="https://previews.123rf.com/images/captainvector/captainvector1703/captainvector170309493/74165387-academy-logo-element.jpg"
  alt="trillo logo"
  class="logo"
/>

<form action="#" class="search">
  <input type="text" class="search__input" placeholder="Search course" />
  <button class="search__button">
    <i class="fas fa-search search__icon"></i>
  </button>
</form>

<nav class="user-nav">
  <div class="user-nav__acc">
    <i class="user-nav__icon fas fa-sign-in-alt"></i>
    <a class="user-nav__link" href="">Login</a>
  </div>
  <div class="user-nav__acc">
    <i class="user-nav__icon fas fa-user-plus"></i>
    <a class="user-nav__link" href="">Register</a>
  </div>
  {{! <div class="user-nav__icon-box">
      <svg class="user-nav__icon">
        <use xlink:href="img/sprite.svg#icon-bookmark"></use>
      </svg>
      <span class="user-nav__notification">7</span>
    </div>
    <div class="user-nav__icon-box">
      <svg class="user-nav__icon">
        <use xlink:href="img/sprite.svg#icon-chat"></use>
      </svg>
      <span class="user-nav__notification">13</span>
    </div>
    <div class="user-nav__user">
      <img src="img/user.jpg" alt="User photo" class="user-nav__user-photo" />
      <span class="user-nav__user-name">Jonas</span>
    </div> }}
</nav>