<head>
  <link rel="stylesheet" href="/css/partials/pagination.css" />
</head>

<body>
  <div class="counter"></div>

  <button class="btn paginate left"><i></i><i></i></button>
  <button class="btn paginate right"><i></i><i></i></button>

  <script src="/js/partials/pagination.js"></script>
</body>