<nav class="sidebar">
  <ul class="side-nav">
    <li class="side-nav__item side-nav__item--active">
      <a href="#" class="side-nav__link">
        <i class="fas fa-home side-nav__icon"></i>
        <span>Home</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <i class="fas fa-th-list side-nav__icon"></i>
        <span>Category</span>
      </a>
    </li>
    <li class="side-nav__item">
      <buton class="side-nav__link">
        <i class="fas fa-book side-nav__icon"></i>
        <span>Course</span>
      </buton>
      {{! <div>
        <a href="#" class="side-nav__link">
          <i class="fas fa-laptop-code side-nav__icon"></i>
          <span>Web</span>
        </a>
        <br />
        <a href="#" class="side-nav__link">
          <i class="fas fa-mobile side-nav__icon"></i>
          <span>Mobile</span>
        </a>
      </div> }}

    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <i class="fas fa-bookmark side-nav__icon"></i>
        <span>Bookmark</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <i class="fas fa-address-card side-nav__icon""></i>
        <span>profile</span>
      </a>
    </li>
  </ul>

</nav>