{{#section "js"}}
  <script id="templateForm" type="text/x-template">
    <form class="addCatForm admin__form admin__form-add" method="post" action="/admin/categories/add" enctype="multipart/form-data" > 
      <div class="addCatFormGroup admin__form-group">
        <label class="admin__label" for="name">Name Category</label> 
          <input type="text" class="form-input" name="name" placeholder="Enter category name" /> 
          <span class="form-message"></span> </div> <div class="admin__form-group"> 
          <label class="admin__label" for="parentID">Parent category</label> 
          <select name="parentID" class="form-input" > 
          <option value="0">None</option>
            {{#each this.parentCategories}}
              <option value={{id}}>{{name}}</option>
            {{/each}}
          </select> 
          </div> <div class="admin__form-group"> 
            <label class="admin__label">Upload image</label> 
            <input type="file" name="image" class="form-input" data-preview-file-type="text" /> 
          </div> 
          <div class="admin__form-btn"> <button type="submit" class="btn btn--success">Add</button> 
          </div> 
    </form>
  </script>
  <script src="/js/admin/categories/add.js"></script>
{{/section}}

<div class="container mt-5">
  <div class="admin__header">
    <a href="/admin/categories" class="btn btn--danger">Back</a>

    <div class="admin__form-number">
      <label class="admin__label mr-2">Add with </label>
      <input
        type="number"
        id="numberAddInput"
        class="admin__form-number-input"
        value="1"
        min="1"
        max="10"
      />
      <label class="admin__label ml-2">category</label>
    </div>

    <button id="addAllBtn" class="btn btn--success">Add all</button>
  </div>

  <div id="addCatForms">
    <form
      class="addCatForm admin__form admin__form-add"
      method="post"
      action="/admin/categories/add"
      enctype="multipart/form-data"
    >
      <div class="addCatFormGroup admin__form-group">
        <label class="admin__label" for="name">Name Category</label>
        <input
          type="text"
          class="form-input"
          name="name"
          placeholder="Enter category name"
        />
        <span class="form-message"></span>
      </div>

      <div class="admin__form-group">
        <label class="admin__label" for="parentID">Parent category</label>
        <select name="parentID" class="form-input">
          <option value="0">None</option>
          {{#each this.parentCategories}}
            <option value={{id}}>{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="admin__form-group">
        <label class="admin__label">Upload image</label>
        <input
          type="file"
          name="image"
          class="form-input"
          data-preview-file-type="text"
        />
      </div>

      <div class="admin__form-btn">
        <button type="submit" class="btn btn--success">Add</button>
      </div>
    </form>
  </div>
</div>

<form
  id="addAllForm"
  action="/admin/categories/multi-add"
  method="post"
  enctype="multipart/form-data"
></form>

{{! The name of the category has already exist }}
<div
  class="modal fade"
  id="failedAddModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="failedAddModel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="failedAddModel">Failed Add</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mt-3 mb-3">
        <h1>This category name already exists</h1>
        <h3>Please enter another name</h3>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn--border"
          data-dismiss="modal"
        >OK</button>
      </div>
    </div>
  </div>
</div>