{{#section "css"}}
  <link rel="stylesheet" href="/css/admin.css" />
{{/section}}

<div class="admin__container">
  <form class="admin__form" method="post" action="/admin/categories/add">
    <div class="form-group">
      <label for="name">Name Category</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter category name"
      />
    </div>

    <div class="form-group">
      <label for="parentID">Select parent category</label>
      <select name="parentID" id="parentID">
        <option value="0">None</option>
        {{#each this.parentCategories}}
          <option value={{id}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
    {{! //check name rỗng }}
    <div class="d-flex">
      <button type="submit" class="btn btn--success mr-5">Add</button>
      <a href="/admin/categories" class="btn btn--danger">Cancel</a>
    </div>
  </form>
</div>