{{#section "css"}}
  <link rel="stylesheet" href="/css/admin.css" />
{{/section}}

<div class="admin__container">
  <form class="admin__form" method="post" action="/admin/categories">
    <div class="form-group">
      <label for="nameCat">ID Category</label>
      <input
        type="text"
        class="form-control"
        id="CatID"
        name="CatID"
        value="{{this.category.id}}"
        readonly
      />
    </div>

    <div class="form-group">
      <label for="nameCat">Name Category</label>
      <input
        type="text"
        class="form-control"
        id="CatName"
        name="CatName"
        value="{{this.category.name}}"
        autofocus
      />
    </div>

    <div class="form-group">
      <label for="parentID">Parent category</label>
      <select name="parentID" id="parentID" {{#unless this.category.parentID}}disabled{{/unless}}>
        <option value="0">None</option>

        {{#each this.parentCategories}}
          <option value={{id}} {{#if isSelected}}selected{{/if}}>{{name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="d-flex">
      <button type="submit" class="btn btn--success mr-5">Update</button>
      <a href="/admin/categories" class="btn btn--danger">Cancel</a>
    </div>
  </form>
</div>