$primary-color: #f8d752;
$second-color: #917b00;

$text-color: #101010;
$gray-text-color: #555;
$border-color: rgba(0, 0, 0, 0.4);

$gold-color: #e59819;
$link-color: #0000ee;
$gray-color: #777;
$black-color: #000;
$white-color: #fff;

$header-height: 80px;
$sidebar-width: 150px;
$sidebar-icon-width: 60px;
$sort-btn-width: 180 px;
