{{#section "css"}}
  <link rel="stylesheet" href="/css/createLesson.css" />
  <link rel="stylesheet" href="/css/teacherProfile.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css"
  />
{{/section}}

<div class="check"></div>
<div class="check2"></div>
<div class="row justify-content-center ml-2">
  <div class="col-lg-10">
    <div class="profile-cover">
      <div class="profile-cover__img">
        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" />
        <h3 class="h3">Henry Foster</h3>
      </div>
      <div class="profile-cover__action bg--img" data-overlay="0.3">
        <button class="btn btn-rounded">
          <i class="fa fa-comment"></i>
          <span>Edit profile</span>
        </button>
        <button class="btn btn-rounded">
          <i class="fa fa-plus"></i>
          <span>Add new course</span>
        </button>
      </div>
      <div class="profile-cover__info">
        <ul class="nav">
          <li><strong>76,134</strong>Reviews</li>
          <li><strong>925,657</strong>Students</li>
          <li><strong>16</strong>Courses</li>
        </ul>
      </div>

    </div>
  </div>
  <div class="col-lg-10">
    <div class="formChapterList">
      <div>Course 1: Javascript for beginer</div>
      <div>
        <div class="formChapterList__content">
          <div class="row">
            <div class="col-lg-12">

              <div
                class="d-flex justify-content-between w-100"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <div>
                  <p><i class="fas fa-expand-arrows-alt"></i>
                    Part 1: Hello Javascript</p>
                </div>
                <div class="mt-4 mr-4"><i class="fas fa-pen"></i>
                  Edit
                  <i class="fas fa-trash"></i>
                  Delete
                </div>
              </div>
              <div class="" id="collapseExample">
                <div class="d-flex justify-content-between ml-4 mt-0 pt-0">
                  <div>
                    <p><i class="far fa-sticky-note"></i>
                      Chapter 1: Course structure and projects</p>
                  </div>
                  <div class="mt-4 mr-4"><i class="fas fa-pen"></i>
                    Edit
                    <i class="fas fa-trash"></i>
                    Delete
                  </div>
                </div>
                <div class="d-flex justify-content-between ml-4 mt-0 pt-0">
                  <div>
                    <p><i class="far fa-sticky-note"></i>
                      Chapter 2: Setting up our code editor</p>
                  </div>
                  <div class="mt-4 mr-4"><i class="fas fa-pen"></i>
                    Edit
                    <i class="fas fa-trash"></i>
                    Delete
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div
                      class="btnAddLesson ml-4 d-flex justify-content-between"
                    >
                      <p style="font-style: italic;">Add more Lesson for your
                        Chapter.
                      </p>
                      <button class="addLessonBtn p-3 mb-4">
                        <i class="fas fa-plus mr-2"></i>Add new Lesson
                      </button>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="formChapterList__content">
          <div class="row">
            <div class="col-lg-12">

              <div
                class="d-flex justify-content-between w-100"
                data-toggle="collapse"
                data-target="#123"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <div>
                  <p><i class="fas fa-expand-arrows-alt"></i>
                    Part 1: Hello Javascript</p>
                </div>
                <div class="mt-4 mr-4"><i class="fas fa-pen"></i>
                  Edit
                  <i class="fas fa-trash"></i>
                  Delete
                </div>
              </div>
              <div class="" id="123">

                <div class="d-flex justify-content-between ml-4 mt-0 pt-0">
                  <div>
                    <p><i class="far fa-sticky-note"></i>
                      Chapter 1: Course structure and projects</p>
                  </div>
                  <div class="mt-4 mr-4"><i class="fas fa-pen"></i>
                    Edit
                    <i class="fas fa-trash"></i>
                    Delete
                  </div>
                </div>

                <div class="d-flex justify-content-between ml-4 mt-0 pt-0">
                  <div>
                    <p><i class="far fa-sticky-note"></i>
                      Chapter 2: Setting up our code editor</p>
                  </div>
                  <div class="mt-4 mr-4"><i class="fas fa-pen"></i>
                    Edit
                    <i class="fas fa-trash"></i>
                    Delete
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <div
                      class="btnAddLesson ml-4 d-flex justify-content-between"
                    >
                      <p style="font-style: italic;">Add more Lesson for your
                        Chapter.
                      </p>
                      <button class="addLessonBtn p-3 mb-4">
                        <i class="fas fa-plus mr-2"></i>Add new Lesson
                      </button>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="formChapterList__title d-flex justify-content-between">
          <p class="title">Chapter list</p>
          <button class="btnAddChapter" type="submit"><i
              class="fas fa-plus mr-1"
            ></i>
            Add new Chapter</button>

        </div>
      </div>

    </div>
  </div>
  <form class="Chapter col-lg-10 hidden">
    <div class="form-group">
      <label for="title-Chapter">Tiltle Of Chapter</label>
      <input
        type="text"
        class="form-control p-4"
        id="title-Chapter"
        name="title-Chapter"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      style="border-color: black;"
    ><i class="fa fa-plus"></i> Add</button>
  </form>

  <form class="Lesson col-lg-10 hidden">
    <div class="form-group2">
      <label for="title-Lesson">Tiltle Of Lesson</label>
      <input
        type="text"
        class="form-control p-4"
        id="title-Lesson"
        name="title-Lesson"
      />
    </div>
    <div class="form-group2">
      <label for="video-Lesson">Video Of Lesson</label>
      <input
        type="file"
        class="form-control p-4"
        id="video-Lesson"
        name="video-Lesson"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-3"
      style="border-color: black;"
    ><i class="fa fa-plus"></i> Add</button>
  </form>
</div>