{{#section "css"}}
<link rel="stylesheet" href="/css/createCourse.css" />
<link rel="stylesheet" href="/css/teacherProfile.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
{{/section}}
{{#section "js"}}
<script src="https://cdn.tiny.cloud/1/y16lx8krusdxb9jurdcxz9xr6r24nrd6vgz4231m0rgoezfz/tinymce/6/tinymce.min.js"
  referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa5/theme.min.js"></script>
<script src="/js/createCourse.js"></script>
{{/section}}

<div class="row justify-content-center ml-5 mt-0">
  <div class="col-lg-10">
    <div class="profile-cover">
      <div class="profile-cover__img">
        <a class="profile-cover__img--baner" style="
                  background-image: url('{{this.teacher.img}}');
                " data-toggle="modal" data-target="#exampleModalCenter"></a>
        <h3 class="h3">Henry Foster</h3>
      </div>
      <div class="profile-cover__action bg--img" data-overlay="0.3">
        <button class="btn btn-rounded">
          <i class="fa fa-comment"></i>
          <span>Edit profile</span>
        </button>
        <button class="btn btn-rounded">
          <i class="fa fa-plus"></i>
          <span>Add new course</span>
        </button>
      </div>
      <div class="profile-cover__info">
        <ul class="nav">
          <li><strong>76,134</strong>Reviews</li>
          <li><strong>925,657</strong>Students</li>
          <li><strong>16</strong>Courses</li>
        </ul>
      </div>

    </div>
  </div>
  <div class="col-lg-10">
    <div class="formCreate">
      <div class="formCreate__title">
        <p>Create Course Lesson</p>
      </div>
      <hr />
      <form action="" class="formCourse">
        <div class="formCreate__titleCourse">
          <div class="d-flex justify-content-between">
            <label>Course Title</label>
            <p class="subLabel subLabel-title hidden">This feild can't be
              empty...</p>
          </div>
          <input type="text" placeholder="Name of course" class="inputField input" name="title" />
        </div>
        <div class="formCreate__categoryLesson d-flex flex-wrap justify-content-between">
          <div class="topics">

            <label for="">Main Category</label>
            <select class="inputField">
              {{#each this.parentCourse}}
              <option value="parentName">{{name}}</option>
              {{/each}}
            </select>

          </div>

          <div class="subTopics">

            <label for="">Sub Category</label>
            <select class="inputField">
              {{#each this.childCourse}}
              <option>{{name}}</option>
              {{/each}}
            </select>

          </div>

          <div class="price">
            <div class="d-flex justify-content-between">
              <label for="">Price</label>
              <p class="subLabel subLabel-price hidden">This feild can't be
                empty...</p>
            </div>

            <div>
              <input type="text" name="currency-field" id="currency-field" value="" placeholder="VNÄ1,000,000.00"
                class="inputField" />
            </div>
          </div>
        </div>
        <div class="updatePicture">
          <label for="fuSub">Update Picture</label>
          <input id="fuSub" type="file" class="file" data-preview-file-type="text" multiple />
        </div>
        <div class="formCreate__summaryCourse">

          <div class="d-flex justify-content-between">
            <label>Summary</label>
            <p class="subLabel subLabel-summary hidden">This feild can't be
              empty...</p>
          </div>
          <input type="text" placeholder="Summary of course" class="inputField input" name="summary" />
        </div>

        <div class="formCreate__descriptionCourse">
          <label>Description</label>
          <textarea id="descriptionTextArea" placeholder="My Text Area" name="desciption"></textarea>
        </div>
        <div class="formCreate__benefitCourse">
          <label>Benefit</label>
          <textarea id="benefitTextArea" placeholder="My Text Area" name="benefit"></textarea>
        </div>
        <div class="formCreate__requiredCourse">
          <label>Required</label>
          <textarea id="requiredTextArea" placeholder="My Text Area" name="required"></textarea>
        </div>
        <div class="formCreate__videoLesson mt-3">
          <label>Upload Video Documents</label>
          <input type="text" placeholder="URL Video Document" class="inputField input" name="videoID" />

        </div>
        <div class="formUpload__btn">
          <button class="btnCreate btn btn--submit"><i class="fas fa-check"></i>
            Create Course</button>
        </div>
      </form>
    </div>
  </div>
</div>