$primary-color: #96bdfb;
$second-color: #5e88c2;
$text-color: #101010;
$gray-text-color: #555;
$gold-color: #e59819;
$gray-color: #777;

$black-color: #000;
$white-color: #fff;

$header-height: 80px;
