@import './global/variable';

.courses__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $border-color;

    .courses__title {
        margin: 0;
        font-size: 3rem;
    }
}

.courses__tool {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.courses__sort {
    width: 100%;
    background-color: rgba($color: $black-color, $alpha: 0.05);
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;

    .courses__sort__label {
        margin: 0;
        font-size: 2.6rem;
    }

    .btn {
        width: $sort-btn-width;
    }

    .dropdown-menu {
        font-size: 1.8rem;
        width: $sort-btn-width;
    }

    .dropdown-item {
        padding: 8px 12px;

        &:hover {
            background-color: rgba($color: $black-color, $alpha: 0.05);
        }
    }
}

.course {
    transition: 0.2s ease;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    .course__new-label {
        display: none;
    }

    &:hover {
        transform: translateX(-1px) translateY(-1px);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    &:hover figure::after {
        animation: shine 0.75s;
    }

    // BEST SELLER COURSE
    &.course--best-seller::before {
        content: 'bestseller';
        position: absolute;
        top: 24px;
        left: -42px;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 2px 40px;
        color: $black-color;
        background-color: $primary-color;
        z-index: 2;
        transform: rotate(-40deg);
    }
}

// HORIZONTAL COURSE
.course.course--horizontal {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    border-bottom: 1px solid $border-color;
    padding: 0 20px 12px 0;

    // COURSE IMAGE in horizontal
    figure {
        border: 1px solid $gray-color;
        margin-right: 20px;

        .course__img {
            height: 100%;
        }
    }

    // COURSE BODY in horizontal
    .course__body {
        flex: 1;
    }

    .course__buttons {
        align-self: flex-end;
        width: 200px;
    }

    // NEW COURSE
    &.course--new .course__new-label {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        width: 50px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $black-color;
        background-color: $primary-color;

        box-shadow: rgba(0, 0, 0, 0.15) 3px -3px 2.65px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            border-width: 14px 26px;
            border-style: solid;
            border-color: transparent transparent $white-color transparent;
        }
    }
}

figure {
    margin: 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -75%;
        display: block;
        width: 50%;
        height: 100%;
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%
        );
        transform: skewX(-25deg);
        z-index: 1;
    }
}

.course__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.course__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: $text-color;
    margin: 0 0 0.6rem 0;
}

.course__category {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 22px;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    z-index: 2;

    .course__category-item::before {
        content: '>';
        margin-left: 1rem;
    }

    .course__category-link {
        text-decoration: none;
        color: $text-color;
    }

    .course__category-item:hover .course__category-link {
        color: $link-color;
    }
}

.course__teacher {
    font-size: 1.6rem;
    font-weight: 500;
    color: $gray-text-color;
    margin: 0;
}

.course__review {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0;
    color: $gold-color;

    .course__review-number {
        font-weight: 400;
        margin-left: 1.4rem;
        color: $gray-text-color;
    }
}

.course__price {
    display: flex;
    align-items: center;

    .course__price-unit {
        font-size: 1.6rem;
        text-decoration: underline;
    }

    .course__price-new {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        font-weight: 700;
        color: $text-color;
    }

    .course__price-old {
        display: flex;
        align-items: center;
        text-decoration: line-through;
        font-size: 1.8rem;
        font-weight: 400;
        margin-left: 1.4rem;
        color: $gray-text-color;
    }
}

.course__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    .btn {
        height: 50px;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}
