@import "./global/variable";

body {
  background-color: $white-color;
}

.container-fluid {
  margin-top: 0;
  margin-top: $header-height;
}
.margin {
  margin-right: 135px;
  @media only screen and (max-width: 31.25em) {
    margin-right: -15px;
  }
}
.card-img-top {
  height: 16rem;
}
.content {
  margin-top: 0rem;
  padding: 0;
  margin-left: $sidebar-width;
  display: flex;
  flex-direction: column;
  width: 100%;
  @media only screen and (max-width: 31.25em) {
    margin-left: 0 !important;
    width: 100%;
  }
  &__title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 5rem;
    font-size: 3rem;
    font-weight: 600;
    @media only screen and (max-width: 31.25em) {
      display: none;
    }
  }

  .carousel {
    background-color: $primary-color;
    height: 40rem;
  }
}

.carousel-inner {
  display: flex;

  .carousel-item {
    &__trending {
      display: flex;
      width: 100%;
      justify-content: space-around;
      @media only screen and (max-width: 31.25em) {
        display: block;
      }
    }
    &__img {
      @media only screen and (max-width: 31.25em) {
        display: none;
      }
      img {
        width: 50rem;
        height: 28rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      }
      position: relative;
    }

    &__rate {
      display: flex;
      justify-content: space-around;
      align-items: center;
      transform: translateY(-50%);
      height: 6rem;
      width: 31rem;
      background-color: #ffffff;

      &--1 {
        h3 {
          font-weight: bold;
          text-align: center;
        }

        // .fa,
        .fas {
          color: #feda56;
        }
      }
    }

    &__detail {
      @media only screen and (max-width: 31.25em) {
        padding: 0 4rem;
        width: 100% !important;
        // background-image: url("{{}}");
        height: 33rem !important;
      }
      height: 28rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // padding-top: 3rem;
      width: 40%;

      &--name {
        font-size: 3rem;
        font-weight: bold;
        @media only screen and (max-width: 31.25em) {
          margin-top: 5rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          line-height: 3.6rem;
          height: 7.2rem;
          max-height: 7.2rem;
        }
      }

      &--item {
        // margin-top: 1.5rem;
        @media only screen and (max-width: 31.25em) {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          line-height: 2.6rem;
          height: 5.2rem;
          max-height: 5.2rem;
          font-size: 2.4rem;
        }
        font-size: 1.8rem;
      }

      &--teacher {
        // margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 500;

        a {
          font-weight: bold;
          margin-left: 0.5rem;

          color: #100f07;
        }
      }

      &--btn {
        // mar
        display: flex;

        a {
          width: 100%;
          margin-right: 2rem;
          background-color: #ffffff;
        }

        #buy-btn {
          background-color: #0d1017;
          color: $white-color;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 1.5rem;

          &:hover {
            transform: translateY(-4px);
          }
        }
      }
    }
  }
}

.carousel-control-prev {
  // left: -5%;
  width: 4%;
  @media only screen and (max-width: 31.25em) {
    width: 10%;
  }
  &-icon {
    background-color: #0d1017;
    border-radius: 20rem;
    height: 4rem;
    width: 4rem;
    background-image: none;
    @media only screen and (max-width: 31.25em) {
      height: 5rem;
      width: 6rem;
    }
    i {
      font-size: 2rem;
      color: $white-color;
      margin-top: 1rem;
      margin-right: 0.2rem;
    }
  }
}

.carousel-control-next {
  // right: -5%;
  width: 4%;
  @media only screen and (max-width: 31.25em) {
    width: 10%;
  }
  &-icon {
    background-color: #0d1017;
    border-radius: 20rem;
    height: 4rem;
    width: 4rem;
    background-image: none;
    @media only screen and (max-width: 31.25em) {
      height: 5rem;
      width: 6rem;
    }
    i {
      font-size: 2rem;
      color: $white-color;
      margin-top: 1rem;
    }
  }
}

.carousel-indicators {
  li {
    background-color: $primary-color;
    border: solid 2px #0d1017;
    margin-right: 2rem;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 200px;
  }

  .active {
    background-color: #0d101777;
  }
}

.courses {
  // margin-left: 5rem;
  margin-top: 3rem;

  &__title {
    h2 {
      font-weight: bold;
      font-size: 4rem;
      font-family: SuisseWorks, Georgia, Times, times new roman, serif,
        apple color emoji, segoe ui emoji, segoe ui symbol;
    }

    p {
      font-size: 2rem;
      font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
        Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
    }
  }

  .active {
    color: #1c1d1f;
  }

  button {
    margin-bottom: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    border: none;
    color: #6a6f73;
    font-weight: bold;
    background-color: #f5f7f8;

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
      // background-color: $primary-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__choose {
    border: 1px solid #d1d7dc;
    // -webkit-transform: translateY(
    //   100%
    // ); //if your div is 200px, this will move it down by 200px, if it is 100px it will down by 100px etc
    // transform: translateY(100%);
  }
}

.divider {
  border: 1px solid #ccc;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.course__link {
  display: block;
  position: absolute;
  // top: 2rem;
  bottom: 6.4rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.swiper-slide {
  img {
    width: 100%;
  }

  .row {
    padding: 0 4rem;
  }

  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  justify-content: center;
  align-items: center;

  .card-title {
    // width: 80%;
    font-size: 1.5rem;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 2.5rem;
    overflow: hidden;
    font-weight: 600;
    background-color: #0d1017;
    color: #fff;
    /* text-align: center; */
    height: 5rem;
    transform: translateY(-50%);
    width: 90%;
    margin-left: 6%;
  }

  .card {
    background: #222;
    // border: 1px solid #dd2476;
    box-shadow: #222 1px 0 10px;

    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
    position: relative;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

:root {
  --gradient: linear-gradient(
    to left top,
    #{$primary-color} 10%,
    #{$primary-color} 90%
  ) !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-image: none !important;

  i {
    color: #110e1d;
    font-size: 5rem;
  }
}

.swiper-button-prev {
  left: -2px !important;
}

// .swiper-button-next {
//   right: 0px !important;
// }

.courses__choose {
  h2 {
    font-size: 3rem;
    text-align: left;
    margin-top: 3rem;
    font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
      Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol;
    font-weight: bold;
  }
}

.course__teacher {
  font-size: 1.5rem;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  font-weight: 500;
  color: $white-color;
  margin: 0;
  margin-top: -1.5rem;
}

.course__review {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0;
  color: $gold-color;

  .course__review-number {
    font-weight: 400;
    margin-left: 1.4rem;
    color: $white-color;
  }
}

.course__price {
  display: flex;
  align-items: center;

  .course__price-unit {
    font-size: 1.6rem;
    text-decoration: underline;
  }

  .course__price-new {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 700;
    color: $white-color;
  }

  .course__price-old {
    display: flex;
    align-items: center;
    text-decoration: line-through;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 1.4rem;
    color: $gray-text-color;
  }
}

.coures__intro {
  background-color: #f5f7f8;
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  height: 10rem;
  align-items: center;
  @media only screen and (max-width: 31.25em) {
    margin: 5rem -2rem;
  }
  img {
    height: 4rem;
    width: 4rem;
    margin-left: 2rem;
  }

  div {
    @media only screen and (max-width: 31.25em) {
      font-size: 1.2rem;
    }
    font-size: 2rem;
    font-weight: bold;
    width: 30%;
  }
}

.reason {
  .img-reason {
    justify-content: center;
    // height: 10rem;
    height: 6rem;
    margin-bottom: 8rem;
    margin-left: 1.2rem;
    @media only screen and (max-width: 31.25em) {
      margin-bottom: 9rem;
      height: 4rem;
      img {
        height: 12rem;
      }
    }
  }
  h1 {
    margin-top: 2rem;
    font-weight: bold;
  }

  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: -2rem;
  margin-right: -2rem;
  @media only screen and (max-width: 31.25em) {
    margin-right: -2.5rem;
  }
  background-color: #f5f7f8;

  .txt-reason {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    @media only screen and (max-width: 31.25em) {
      font-size: 1.5rem;
    }
    span {
      font-weight: 100;
      font-size: 1.4rem;
      @media only screen and (max-width: 31.25em) {
        font-size: 1rem;
      }
      margin-bottom: 2rem;
    }
  }
}
@import "./global/variable";

body {
  background-color: $white-color;
}

.container-fluid {
  margin-top: 0;
  margin-top: $header-height;
}

.content {
  margin-top: 0rem;
  padding: 0;
  margin-left: $sidebar-width;
  display: flex;
  flex-direction: column;
  // width: 60%;

  &__title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 5rem;
    font-size: 3rem;
    font-weight: 600;
  }

  .carousel {
    background-color: $primary-color;
    height: 40rem;
  }
}

.carousel-inner {
  display: flex;

  .carousel-item {
    &__img {
      img {
        width: 50rem;
        height: 28rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      }
    }

    &__rate {
      display: flex;
      justify-content: space-around;
      align-items: center;
      transform: translateY(-50%);
      height: 6rem;
      width: 31rem;
      background-color: #ffffff;

      &--1 {
        h3 {
          font-weight: bold;
          text-align: center;
        }

        // .fa,
        .fas {
          color: #feda56;
        }
      }
    }

    &__detail {
      height: 28rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // padding-top: 3rem;
      width: 40%;

      &--name {
        font-size: 3rem;
        font-weight: bold;
      }

      &--item {
        // margin-top: 1.5rem;
        font-size: 1.8rem;
      }

      &--teacher {
        // margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 500;

        a {
          font-weight: bold;
          margin-left: 0.5rem;

          color: #100f07;
        }
      }

      &--btn {
        // mar
        display: flex;

        a {
          width: 100%;
          margin-right: 2rem;
          background-color: #ffffff;
        }

        #buy-btn {
          background-color: #0d1017;
          color: $white-color;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 1.5rem;

          &:hover {
            transform: translateY(-4px);
          }
        }
      }
    }
  }
}

.carousel-indicators {
  li {
    background-color: $primary-color;
    border: solid 2px #0d1017;
    margin-right: 2rem;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 200px;
  }

  .active {
    background-color: #0d101777;
  }
}

.courses {
  // margin-left: 5rem;
  margin-top: 3rem;

  &__title {
    h2 {
      font-weight: bold;
      font-size: 4rem;
      font-family: SuisseWorks, Georgia, Times, times new roman, serif,
        apple color emoji, segoe ui emoji, segoe ui symbol;
    }

    p {
      font-size: 2rem;
      font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
        Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji, segoe ui symbol;
    }
  }

  .active {
    color: #1c1d1f;
  }

  button {
    margin-bottom: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    border: none;
    color: #6a6f73;
    font-weight: bold;
    background-color: #f5f7f8;

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
      // background-color: $primary-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__choose {
    border: 1px solid #d1d7dc;
    // -webkit-transform: translateY(
    //   100%
    // ); //if your div is 200px, this will move it down by 200px, if it is 100px it will down by 100px etc
    // transform: translateY(100%);
  }
}

.divider {
  border: 1px solid #ccc;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  img {
    width: 100%;
  }

  .row {
    padding: 0 4rem;
  }

  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  justify-content: center;
  align-items: center;

  .card-title {
    // width: 80%;
    font-size: 1.5rem;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 2.5rem;
    overflow: hidden;
    font-weight: 600;
    background-color: #0d1017;
    color: #fff;
    /* text-align: center; */
    height: 5rem;
    transform: translateY(-50%);
    width: 90%;
    margin-left: 6%;
  }

  .card {
    background: #222;
    // border: 1px solid #dd2476;
    box-shadow: #222 1px 0 10px;

    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
    position: relative;

    .course__link {
      display: block;
      position: absolute;
      // top: 2rem;
      bottom: 6.4rem;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }

  .btn {
    border: 3px solid;
    color: $primary-color;
    border-image-slice: 1;
    background: #222;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // border-image-source: var(--gradient);
    // text-decoration: none;
    transition: all 0.4s ease;
  }
  .btn-love {
    background: white;
  }
  .btn:hover,
  .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: rgb(27, 22, 22) !important;
    border: 3px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: none;
  }
  .active {
    color: #f84c5e;
    background-color: #f5f7f8;
  }
}
.btnLove {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: rgb(27, 22, 22) !important;
  border: 3px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: none;
}
:root {
  --gradient: linear-gradient(
    to left top,
    #{$primary-color} 10%,
    #{$primary-color} 90%
  ) !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-image: none !important;

  i {
    color: #110e1d;
    font-size: 5rem;
  }
}

.swiper-button-prev {
  left: -2px !important;
}

.swiper-button-next {
  right: 10px !important;
}
.courses__viewed > .container-fluid {
  margin-top: 0 !important;
}
.courses__lastest > .container-fluid {
  margin-top: 0 !important;
}
.courses__choose {
  h2 {
    font-size: 3rem;
    text-align: left;
    margin-top: 3rem;
    font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
      Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol;
    font-weight: bold;
  }
}

.course__teacher {
  font-size: 1.5rem;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  font-weight: 500;
  color: $white-color;
  margin: 0;
  margin-top: -1.5rem;
}

.course__review {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0;
  color: $gold-color;

  .course__review-number {
    font-weight: 400;
    margin-left: 1.4rem;
    color: $white-color;
  }
}

.course__price {
  display: flex;
  align-items: center;

  .course__price-unit {
    font-size: 1.6rem;
    text-decoration: underline;
  }

  .course__price-new {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 700;
    color: $white-color;
  }

  .course__price-old {
    display: flex;
    align-items: center;
    text-decoration: line-through;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 1.4rem;
    color: $gray-text-color;
  }
}

.courses__featured {
  h2 {
    margin-top: 4rem;
  }
  margin-top: 5rem;

  a {
    &:hover {
      filter: brightness(100%);
    }
  }

  .card {
    border: none;
    margin-top: 2rem;
    .image {
      overflow: hidden;
      width: 30rem;
      height: 30rem;
      @media only screen and (max-width: 31.25em) {
        width: 20rem;
        height: 20rem;
      }
      background-color: #f5f7f8;
      img {
        width: 100%;
        height: 100%;
        background-color: #f5f7f8;
        filter: grayscale(0.3);
        transition: 0.3s;
        &:hover {
          filter: grayscale(0);
          transform: scale(1.2) rotate(3deg);
        }
      }
    }
    span {
      font-size: 2rem;
      color: #0d1017;
      bottom: 0;
      margin-top: 1rem;
      font-weight: 600;
      // z-index: 20;
    }

    // &:hover {
    //   background-color: #f5f7f8;
    // }

    &__name {
      font-family: "Source Sans Pro", Arial, sans-serif;
      color: #1f1f1f;
      font-weight: bold;
      font-size: 1.4rem;
    }

    &__number {
      font-size: 1.4rem;
      font-family: "Source Sans Pro", Arial, sans-serif;
      color: #1f1f1f;
    }
  }
}

.home-footer {
  & > mb-4 {
    margin-left: 5rem;
  }
  margin-left: 5rem;
  @media only screen and (max-width: 31.25em) {
    margin-left: 0;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 768px) and (max-width: 820px) {
  .side-nav__link {
    span {
      display: none;
    }
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 43%;
    max-width: 41%;
    margin-left: 5rem;
  }
  .sidebar1 {
    width: 50px;
  }
  .content {
    margin-left: 50px;
    width: 100%;
  }
  .margin {
    margin-right: 35px;
  }

  .carousel-item__detail {
    &--name,
    &--item {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      line-height: 2.6rem;
      height: 5.2rem;
      max-height: 5.2rem;
    }
    padding-left: 2rem;
  }
  .course__btn {
    .btn {
      padding: 1rem 2rem;
    }
  }
  .swiper-slide {
    .row {
      margin-left: -14px;
    }
  }
}
