@import 'variable';

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
    html {
        font-size: 50%;
    }
}

.content-page {
    width: 100%;
    margin-left: 20rem;
    margin-top: 8.5rem;
}
.content {
    display: flex;
}

.header {
    position: fixed;
    width: 100%;
    font-size: 1.4rem;
    height: $header-height;
    background-color: $white-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f3f3f4;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 0 12px;
    z-index: 10;
}

@media only screen and (max-width: 31.25em) {
    .header {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
    .content-page {
        margin-left: 0rem;
        margin-top: 11.5rem;
    }
}
@media only screen and (max-width: 31.25em) {
    .content {
        flex-direction: column;
    }
}
